﻿@model CategorySearchViewModel

@{
    ViewBag.Title = "CategoryTable";
}

<div>
    <form method="post">
        <div class="row">
            <div class="col-md-8">
                <div class="form-group">
                    <label>Search</label>
                    <input class="form-control" id="searchtxt" name="search" value="@Model.SearchTerm" />
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Action</label>
                    <div class="row">
                        <div class="col-md-4 pr-0">
                            <button class="form-control btn btn-primary" type="button" id="searchBtn">Search</button>
                        </div>
                        <div class="col-md-4 pr-0">
                            <button class="form-control btn btn-primary" type="button" id="resetbtn">Reset</button>
                        </div>
                        <div class="col-md-4 pr-0">
                            <button class="form-control btn btn-primary" type="button" id="newBtn">New</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="font-weight-bold">Category Name</th>
                <th class="font-weight-bold">Products</th>
                <th class="wrap-td font-weight-bold">Action</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Categories != null && Model.Categories.Count > 0)
            {
                foreach (var category in Model.Categories)
                {

                    <tr>
                        <td>@category.Name</td>
                        @*<td>@category.Description</td>*@
                        <td>
                            @category.Product.Count
                        </td>

                        <td class="wrap-td">
                            <button class="editbtn" data-id="@category.ID"><i class="fas fa-edit " style="color:#0d48c2"></i></button>
                            <button class="deletebtn" data-id="@category.ID"><i class="fas fa-trash-alt" style="color:#0d48c2"></i></button>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td class="text-danger" colspan="4">No Category Found !</td>
                </tr>
            }
        </tbody>
    </table>
    <div>

        @if (Model.Pager != null && Model.Pager.TotalPages > 1)
        {
            if (Model.Pager.CurrentPage > 1)
            {
                <button class="pageButtons" data-pageno="1">First</button>
                <button class="pageButtons" data-pageno="@(Model.Pager.CurrentPage - 1)">Previous</button>
            }

            for (var page = Model.Pager.StartPage; page <= Model.Pager.EndPage; page++)
            {
                var activeclass = Model.Pager.CurrentPage == page ? "Active bg-info" : string.Empty;
                <button class="@activeclass pageButtons" data-pageno="@page">@page</button>

            }

            if (Model.Pager.CurrentPage < Model.Pager.TotalPages)
            {
                <button class="pageButtons" data-pageno="@(Model.Pager.CurrentPage + 1)">Next</button>
                <button class="pageButtons" data-pageno="@Model.Pager.EndPage">Last</button>
            }
        }
    </div>
</div>

<script>
    $(".pageButtons").click(function () {
        $.ajax({
            url: '@Url.Action("categorytable", "category")',
            data: {
                pageNo: $(this).attr("data-pageno"),
                search : "@Model.SearchTerm"
            }
        })
            .done(function (response) {
                $("#tablecontainer").html(response);
            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("Fail");
            });
    });

    $("#searchBtn").click(function () {
        var searchval = $("#searchtxt").val();

        $.ajax({
            url: '@Url.Action("CategoryTable", "category")',
            data: {
                search : searchval
            }
        })
            .done(function (response) {
                $("#tablecontainer").html(response);

            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("Fail");
            });
    });
     $("#resetbtn").click(function () {
        var searchval = '';

        $.ajax({
            url: '@Url.Action("CategoryTable", "category")',
            data: {
                search : searchval
            }
        })
            .done(function (response) {
                $("#tablecontainer").html(response);

            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("Fail");
            });
    });

     $("#newBtn").click(function () {

         $.ajax({
             url: '@Url.Action("Create", "category")',


         })
             .done(function (response) {
                 $("#actioncontainer").html(response);
                 focusAction("actioncontainer");
             })
             .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                 alert("Fail");
             });
    });

     $(".editbtn").click(function () {

        $.ajax({
            url: '@Url.Action("Edit", "category")', //"/category/Edit/",
            data: {
                ID: $(this).attr("data-id")
            }

         })
             .done(function (response) {
                 $("#actioncontainer").html(response);
                 focusAction("actioncontainer");
             })
             .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                 alert("Fail");
             });
     });


    $(".deletebtn").click(function () {
        var confirmdelete = confirm("Are you sure to delete this Record !!");
        if (confirmdelete) {

            $.ajax({
            type:"post",
            url: '@Url.Action("Delete", "category")',
            data: {
                ID: $(this).attr("data-id")
            }
        })
            .done(function (response) {
                $("#tablecontainer").html(response);
            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("Fail");
            });

        }
     });


</script>



