﻿@{
    ViewBag.Title = "Create";
}

<h2>Create Category</h2>

<form id="Createcategory">
    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                <label>Name <span class="text-danger">*</span></label>
                <input class="form-control" placeholder="Enter Name" name="Name" />
            </div>

            <div class="form-group">
                <label>Description</label>
                <input class="form-control" placeholder="Enter Description" name="Description" />
            </div>

            <div class="form-group">
                <label>Image</label>
                <input id="ImageUrl" name="ImageUrl" type="hidden" />
                <input class="form-control" id="Uploadimage" name="Image" type="file" accept=".png, .jpg" />
            </div>

            <div class="form-group">
                <label>IsFeatured</label>
                <div class="form-control">
                    <input name="IsFeatured" type="radio" value="true" />True
                    <input name="IsFeatured" type="radio" value="false" />False
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="thumb">
                <img id="categoryimage" style="height:300px;width:400px"/>
            </div>
        </div>
    </div>

    <div>
        <button type="button" id="savebtn" class="btn btn-primary">Save</button>
        <button type="button" id="cancelbtn" class="btn btn-primary">Cancel</button>
    </div>

</form>


<style>
    .error {
        color: red;
    }
</style>

<script>
    $("#Uploadimage").change(function () {

        var element = this;
        var formData = new FormData();
        var totalfiles = element.files.length;

        for (var i = 0; i < totalfiles; i++) {

            var file = element.files[i];
            formData.append("photo", file);
        }

        $.ajax({
            type: "Post",
            url: '@Url.Action("UploadImage","Share")',// "/Share/UploadImage/",
            datatype: "json",
            data: formData,
            contentType:false,
            processData:false
        })
            .done(function (response) {
                console.log(response);
                if (response.Success) {
                    $("#ImageUrl").val(response.ImageURL);
                    $("#categoryimage").attr("src", response.ImageURL);
                }
            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("Fail");
            });

    });



    $.validator.addMethod("alphabetsnspace", function (value, element) {
        return this.optional(element) || /^[a-zA-Z ]*$/.test(value);
    });
    jQuery.validator.setDefaults({
        debug: true,
        success: "valid"
    });



    $("#Createcategory").validate({
        rules: {
            Name: {
                required: true,
                minlength: 3,
                alphabetsnspace: true,
                maxlength: 50,
            },
            Description: {
                required: true,
                minlength: 3,
                maxlength: 500,
            },
           
        },
        messages: {
            Name: {
                required: 'Name is Required',
                minlength: 'Minimam length is 3',
                alphabetsnspace: 'Only Letters and Space is required!',
                maxlength: 'Maximan length is 50',
            },
            Description: {
                required: 'Description is required',
                minlength: 'minimam length is 3',
                maxlength: 'Maximan length is 500',
            },
          
        }
    })



    $("#savebtn").click(function () {
        if ($("#Createcategory").valid())
        {
        $.ajax({
            type: "Post",
            url: '@Url.Action("Create","category")',// "/category/Create",
            data: $("#Createcategory").serialize()
        })
            .done(function (response) {
                $("#tablecontainer").html(response);
                $("#actioncontainer").html("");
                focusAction("tablecontainer");
            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("fail");
                //swal({
                //    title: "Warning",
                //    text: "Please Enter all required field !",
                //    icon: "warning",
                //    buttons: true,
                //    dangerMode: true,
                //})
                });
        }
        else
        {
            swal({
                title: "JS Warning",
                text: "Please Enter all required field !",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
        }
    });


     $("#cancelbtn").click(function () {

                $("#actioncontainer").html("");
                focusAction("tablecontainer");
    });
</script>