﻿@model Category

@{
    ViewBag.Title = "Edit";
    var truefeatured = Model.IsFeatured ? "checked" : string.Empty;
    var falsefeatured = !Model.IsFeatured ? "checked" : string.Empty;
    var imageurl = !string.IsNullOrEmpty(Model.ImageUrl) ? Model.ImageUrl : "/Content/images/placeholder-image.png";

}

<h2>Edit</h2>

<form id="updatecategory">
    <div class="row">
        <div class="col-md-8">
            <input type="hidden" name="ID" value="@Model.ID" />

            <div class="form-group">
                <label>Name</label>
                <input class="form-control" name="Name" value="@Model.Name" />
            </div>

            <div class="form-group">
                <label>Description</label>
                <input class="form-control" name="Description" value="@Model.Description" />
            </div>

            <div class="form-group">
                <label>Image</label>
                <input type="hidden" id="ImageUrl" name="imageurl" value="@Model.ImageUrl" />
                <input class="form-control" id="Uploadimage" name="Image" type="file" accept=".png, .jpg" />
            </div>

            <div class="form-group">
                <label>IsFeatured</label>
                <div class="form-control">
                    <input name="IsFeatured" type="radio" value="true" @truefeatured />True
                    <input name="IsFeatured" type="radio" value="false" @falsefeatured />false
                </div>
            </div>
        </div>
        <br />
        <br />
        <div class="col-md-4">
            <div class="thumb">
                <img src="@imageurl" style="height:300px;width:400px" id="categoryimage" />
            </div>
        </div>
    </div>

    <div>
        <button type="button" id="updatebtn" class="btn btn-primary">Update</button>
        <button type="button" id="cancelbtn" class="btn btn-primary">Cancel</button>
    </div>

</form>

<style>
    .error {
        color: red;
    }
</style>
<script>
    $.validator.addMethod("alphabetsnspace", function (value, element) {
        return this.optional(element) || /^[a-zA-Z ]*$/.test(value);
    });
    jQuery.validator.setDefaults({
        debug: true,
        success: "valid"
    });

    $("#updatecategory").validate({
        rules: {
            Name: {
                required: true,
                minlength: 3,
                alphabetsnspace: true,
                maxlength: 50,
            },
            Description: {
                required: true,
                minlength: 3,
                maxlength: 500,
            },

        },
        messages: {
            Name: {
                required: 'Name is Required',
                minlength: 'Minimam length is 3',
                alphabetsnspace: 'Only Letters and Space is required!',
                maxlength: 'Maximan length is 50',
            },
            Description: {
                required: 'Description is required',
                minlength: 'minimam length is 3',
                maxlength: 'Maximan length is 500',
            },

        }
    })



     $("#updatebtn").click(function () {
         if ($("#updatecategory").valid())
         {
        $.ajax({
            type: "POST",
            url: '@Url.Action("Edit","category")',//"/category/Edit",
            data: $("#updatecategory").serialize()

        })
            .done(function (response) {
                $("#tablecontainer").html(response);
                $("#actioncontainer").html("");
                focusAction("tablecontainer");
            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("Fail");
            });
         }
         else {
             swal({
                 title: "Warning",
                 text: "Please Enter all required field !",
                 icon: "warning",
                 buttons: true,
                 dangerMode: true,
             })
         }
    });

    $("#cancelbtn").click(function () {

        $("#actioncontainer").html("");
        focusAction("tablecontainer");
    });

    $("#Uploadimage").change(function () {

        var element = this;
        var formData = new FormData();
        var totalfiles = element.files.length;

        for (var i = 0; i < totalfiles; i++) {

            var file = element.files[i];
            formData.append("photo", file);
        }

        $.ajax({
            type: "Post",
            url: '@Url.Action("UploadImage","Share")', //"/Share/UploadImage/",
            datatype: "json",
            data: formData,
            contentType: false,
            processData: false
        })
            .done(function (response) {
                console.log(response);
                if (response.Success) {
                    $("#ImageUrl").val(response.ImageURL);
                    $("#categoryimage").attr("src", response.ImageURL);
                }
            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("Fail");
            });

    });
</script>
