﻿@model ProductWidgetsViewModel
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
@{
    var defaultImageUrl = "/Content/images/placeholder-image.png";
}



@if (Model != null && Model.Products != null)
{
    if (!Model.IslatestProduct)
    {
        <ul class="flat-filter style-1 text-center max-width-700 clearfix " style="margin-left:160px">

            <li class="active" ><a href="#" data-filter="*">All Product</a></li>
            @foreach (var category in Model.Products.Select(x => x.Category).ToList().Distinct())
            {

                <li><a href="#" data-filter=".@category.Name.ToLower()">For @category.Name</a></li>
            }

        </ul>
        <div class="divider h54"></div>
    }

    <div class="product-content product-fourcolumn clearfix">
        <ul class="product style2 isotope-product clearfix">
            @foreach (var product in Model.Products)
            {
                var ImageUrl = string.IsNullOrEmpty(product.ImageUrl) ? defaultImageUrl : product.ImageUrl;


                <li class="product-item @product.Category.Name.ToLower()">
                    <div class="card">
                        <div class="product-thumb clearfix">
                            <a href="@Url.Action("Details", "Product", new { ID = product.ID })" class="product-thumb">
                                <img src="@ImageUrl" alt="image" style="height:250px;">
                            </a>
                            @if (Model.IslatestProduct)
                            {
                                <span class="new card-title card-header">New</span>
                            }
                        </div>

                        @*<div class="product-info text-left clearfix card-body">*@
                        <div class="price card-body text-left align-text-bottom">
                            <ins>
                                <h4 class="card-title card-footer" style="color:#00535b">@product.Name</h4>
                                <div class="price card-body text-left align-text-bottom">
                                    <span class="card-title" style="color:#c62d2d;">Publisher: @product.Publisher</span>
                                </div>
                                @*<div class="price card-body text-left align-text-bottom">
                                        <span class="card-title card-footer">Stock: @product.ProductStock</span>
                                    </div>*@
                                <span class="amount card-title card-footer" style="color:#c62d2d">PKR @product.Price</span>
                                <span class="amount card-title " style="color:#ca7f7f; text-decoration:line-through">PKR @product.OldPrice</span>
                            </ins>
                        </div>
                        @*</div>*@

                        @if (Model.IslatestProduct == true)
                        {
                            //if(product.ProductStock > 0)
                            //{

                            <div class="add-to-cart text-center">
                                <a class="ProductAddToCart" data-id="@product.ID">ADD TO CART</a>
                            </div>
                            @*}
                                else
                                {
                                    <div class="add-to-cart text-center" style="background-color:#ffd800">
                                        <a class="ProductAddToCart" style="color:#ff0000">SOLD OUT</a>
                                    </div>
                                }*@
                        }
                        @if (Model.IslatestProduct == false)
                    {
                            <div class="add-to-cart text-center">
                                <a class="BestProductAddToCart" data-id="@product.ID">ADD TO CART</a>
                            </div>
                        }

                        <a href="#" class="like"><i class="fa fa-heart-o"></i></a>
                    </div>
                </li>
            }
        </ul>

    </div>
}
@if (Model.IslatestProduct == true)
{
    <script>

        var products;
        $(".ProductAddToCart").click(function () {
            debugger;
            var existingCookiedata = $.cookie('CartProducts');

            if (existingCookiedata != undefined && existingCookiedata != "" && existingCookiedata != null) {
                products = existingCookiedata.split('-');
            }
            else {
                products = [];
            }
            var productID = $(this).attr("data-id");

            products.push(productID);

            $.cookie("CartProducts", products.join('-'), { path: '/' });

            updateCartProduct();

            swal("Done!", "Your Product Added to cart !", "success");

        });
    </script>
}


<script>
        var products;
        $(".BestProductAddToCart").click(function () {
            debugger;
            var existingCookiedata = $.cookie('CartProducts');

            if (existingCookiedata != undefined && existingCookiedata != "" && existingCookiedata != null) {
                products = existingCookiedata.split('-');
            }
            else {
                products = [];
            }
            var productID = $(this).attr("data-id");

            products.push(productID);

            $.cookie("CartProducts", products.join('-'), { path: '/' });

            updateCartProduct();

            swal("Done!", "Your Product Added to cart !", "success");

        });

</script>



