﻿
@{
    ViewBag.Title = "_DashboardLayout";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">

    <title>Simple Sidebar - Start Bootstrap Template</title>
    <!-- Bootstrap core CSS -->

    <link href="~/Content/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Custom styles for this template -->

    <link href="~/Content/css/simple-sidebar.css" rel="stylesheet" />

    <script src="~/Content/javascript/jquery.min.js"></script>
    <script src="~/Content/javascript/jquery-ui.js"></script>

    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.10.1/css/all.css" integrity="sha384-wxqG4glGB3nlqX0bi23nmgwCSjWIW13BdLUEYC4VIMehfbcro/ATkyDsF/AbIOVe" crossorigin="anonymous">
</head>
<body>
    <div class="d-flex" id="wrapper">
        <!-- Sidebar -->
        <div @*class="bg-light border-right"*@ id="sidebar-wrapper" class="bg">
           
            <div class="sidebar-heading">
            <i class="fas fa-check-double"></i>
            BOOKSHOP
            </div>
            <div class="list-group list-group-flush">
                <a href="@Url.Action("index","home")" class="list-group-item list-group-item-action bg">
                    <i class="fas fa-home"></i>
                Home
                </a>
                <a href="@Url.Action("index","dashboard")" class="list-group-item list-group-item-action bg">
                    <i class="fas fa-tachometer-alt"></i>
                Dashboard
                </a>
                <a href="@Url.Action("index","category")" class="list-group-item list-group-item-action bg">
                    <i class="fas fa-chevron-up"></i>
                Category
                </a>
                <a href="@Url.Action("index","product")" class="list-group-item list-group-item-action bg">
                    <i class="fab fa-product-hunt"></i>
                Product
                </a>
                <a href="@Url.Action("orderview","order")" class="list-group-item list-group-item-action bg">
                    <i class="fab fa-first-order-alt"></i>
                Order
                </a>
                <a href="@Url.Action("Index","contact")" class="list-group-item list-group-item-action bg">
                    <i class="fas fa-comments"></i>
                Contact
                </a>
                <a href="@Url.Action("user","dashboard")" class="list-group-item list-group-item-action bg">
                    <i class="fas fa-users"></i>
                User
                </a>
                <a href="@Url.Action("Role","dashboard")" class="list-group-item list-group-item-action bg">
                    <i class="fas fa-user-tag"></i>
                Role
                </a>
            </div>
        </div>
        <!-- /#sidebar-wrapper -->
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <nav class="navbar navbar-expand-lg navbar-light bg border-bottom">
                <button class="btn btn-primary" id="menu-toggle">
                    <i class="fas fa-align-justify"></i>
                </button>
                @*<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>*@
                <span style="margin-left: 12px"><b>Hi @User.Identity.Name</b></span>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                        <li class="nav-item">
                            <a href="#" id="btnlogof" style="color:ghostwhite">LOGOF</a>
                        </li>
                    </ul>
                </div>
            </nav>
            <div class="container-fluid">

                @RenderBody()

                   </div>
        </div>
        <!-- /#page-content-wrapper -->
    </div>
    <!-- /#wrapper -->
    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Menu Toggle Script -->
    <script>
        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
    </script>


    <form id="logofform" method="post" action="@Url.Action("logoff", "Account")">
        @Html.AntiForgeryToken()
    </form>
    <script>
        $("#btnlogof").click(function () {
            $("#logofform").submit();
        });
    </script>

</body>
</html>







