﻿<!DOCTYPE html>
<html>
<head>
    <!-- Basic Page Needs -->
    <meta charset="utf-8">
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
    <title>@ViewBag.Title BookShop</title>

    <meta name="author" content="themesflat.com">

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Bootstrap  -->
    <link rel="stylesheet" type="text/css" href="~/Content/stylesheets/bootstrap.css">
 
    <!-- Theme Style -->
  
    <link href="~/Content/css/Customstyle.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="~/Content/stylesheets/style.css">
    <link rel="stylesheet" type="text/css" href="~/Content/stylesheets/responsive.css">


    <!-- Colors -->
    <link rel="stylesheet" type="text/css" href="~/Content/stylesheets/colors/color1.css" id="colors">


    <!-- Animation Style -->
    <link rel="stylesheet" type="text/css" href="~/Content/stylesheets/animate.css">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.10.1/css/all.css" integrity="sha384-wxqG4glGB3nlqX0bi23nmgwCSjWIW13BdLUEYC4VIMehfbcro/ATkyDsF/AbIOVe" crossorigin="anonymous">

    <!-- Favicon and touch icons  -->
    <link href="favicon.ico" rel="shortcut icon">


    <!--[if lt IE 9]>
        <script src="~/Content/javascript/html5shiv.js"></script>
        <script src="~/Content/javascript/respond.min.js"></script>
    <![endif]-->
    <script src="~/Content/javascript/jquery.min.js"></script>
    <script src="~/Content/javascript/jquery-ui.js"></script>

</head>
<body class="header_sticky header-style-1 has-menu-extra">
    <!-- Preloader -->
    <div id="loading-overlay">
        <div class="loader"></div>
    </div>

    <!-- Boxed -->
    <div class="boxed">
        <div id="site-header-wrap">
            <!-- Header -->
            <header id="header" class="header header-container clearfix" style="background-color:#04828f; height:100px;">
                <div class="container clearfix" id="site-header-inner">
                    <div id="logo" class="logo float-left" style="margin-top:-20px; margin-left:0px;">
                        <a href="@Url.Action("index", "Home")" title="logo">
                            <img src="/Content/images/Headerlogo.png" alt="image" width="80" height="60" data-retina="images/headerlogo.png" data-width="70" data-height="70" >
                        </a>
                    </div><!-- /.logo -->
                    <div class="mobile-button"><span></span></div>
                    <ul class="menu-extra">
                        <li class="box-search">
                            <a class="icon_search header-search-icon active" href="#"></a>
                            <form role="search" method="get" class="header-search-form" action="#">
                                <input type="text" value="" name="s" class="header-search-field" placeholder="Search...">
                                <button type="submit" class="header-search-submit " title="Search">Search</button>
                            </form>
                        </li>

                        <li class="box-cart nav-top-cart-wrapper">
                            <a class="icon_cart nav-cart-trigger active" href="@Url.Action("checkout", "shop")"><span id="cartproductcount">0</span></a>

                            @*<div class="nav-shop-cart">
                <div class="widget_shopping_cart_content">
                    <div class="woocommerce-min-cart-wrap">
                        <ul class="woocommerce-mini-cart cart_list product_list_widget ">
                            <li class="woocommerce-mini-cart-item mini_cart_item">
                                <span>No Items in Shopping Cart</span>
                            </li>
                        </ul>
                    </div><!-- /.widget_shopping_cart_content -->
                </div>
            </div><!-- /.nav-shop-cart -->*@

                        </li>

                        @if (User.Identity.IsAuthenticated)
                        {

                            <li class="box-cart nav-top-cart-wrapper">
                                <a class="nav-cart-trigger active"  href="@Url.Action("LogedUser", "Order")">
                                    <i class="fas fa-user"></i>
                                </a>

                                <div class="nav-shop-cart">
                                    <div class="widget_shopping_cart_content">
                                        <div class="woocommerce-min-cart-wrap">
                                            <ul class="woocommerce-mini-cart cart_list product_list_widget ">
                                                <li class="woocommerce-mini-cart-item mini_cart_item">
                                                    <span>@User.Identity.Name</span>
                                                </li>
                                            </ul>
                                        </div><!-- /.widget_shopping_cart_content -->
                                    </div>
                                </div><!-- /.nav-shop-cart -->
                            </li>
                        }
                        else
                        {
                            <li class="box-cart nav-top-cart-wrapper">
                                <a class="nav-cart-trigger active" href="@Url.Action("Register","Account")">
                                    <i class="fas fa-user-plus"></i>
                                </a>

                                <div class="nav-shop-cart">
                                    <div class="widget_shopping_cart_content">
                                        <div class="woocommerce-min-cart-wrap">
                                            <ul class="woocommerce-mini-cart cart_list product_list_widget ">
                                                <li class="woocommerce-mini-cart-item mini_cart_item">
                                                    <span>Sign Up</span>
                                                </li>
                                            </ul>
                                        </div><!-- /.widget_shopping_cart_content -->
                                    </div>
                                </div><!-- /.nav-shop-cart -->
                            </li>


                        }

                       
                    </ul><!-- /.menu-extra -->
                    <div class="nav-wrap">
                        <nav id="mainnav" class="mainnav">
                            <ul class="menu" >
                                <li >
                                    <a href="@Url.Action("Index", "home")" @*style="color:white"*@>HOME</a>

                                </li>
                                <li>
                                    <a href="@Url.Action("Index", "Shop")" @*style="color:white"*@>SHOP</a>

                                </li>
                                <li>
                                    <a href="@Url.Action("checkout", "shop")" @*style="color:white"*@>CHECKOUT</a>

                                </li>
                                <li>
                                    <a href="@Url.Action("About", "Home")" @*style="color:white"*@>ABOUT</a>

                                </li>
                            
                             

                                @if (User.Identity.IsAuthenticated)
                                {
                                    <li>
                                        <a href="@Url.Action("Create", "Contact")" @*style="color:white"*@>CONTACT</a>

                                    </li>
                                    if (User.IsInRole("Administrator"))
                                    {
                                        <li>
                                            <a href="@Url.Action("index", "dashboard")" @*style="color:white"*@>DASHBOARD</a>

                                        </li>
                                    }
                                  
                                    <li>
                                        <a href="#" id="btnlogof" @*style="color:white"*@>LOGOF</a>
                                    </li>

                                }
                                else
                                {
                                    <li>
                                        <a href="@Url.Action("login", "Account")" @*style="color:white"*@>LOGIN</a>

                                    </li>
                                }
                            </ul>
                        </nav><!-- /.mainnav -->
                    </div><!-- /.nav-wrap -->
                </div><!-- /.container-fluid -->
            </header><!-- /header -->
        </div><!-- /#site-header-wrap -->

        @RenderBody()
        <section class="flat-row mail-chimp"  style="background-color:#04828f; ">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="text" >
                            <h3 style="color:white">Sign Up For Our Newsletter To Get The Latest Updates</h3>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="subscribe clearfix">
                            <form action="#" method="post" accept-charset="utf-8" id="subscribe-form">
                                <div class="subscribe-content">
                                    <div class="input">
                                        <input type="email" name="subscribe-email" placeholder="Your Email">
                                    </div>
                                    <div class="button">   
                                        <button type="button" class="text-white">SUBCRIBE</button>
                                    </div>
                                </div>
                            </form>
                            <ul class="flat-social">
                                <li><a href="@ConfigurationServices.Instance.GetConfigs("Facebookurl").Value"><i class="fab fa-facebook-square" style="color:white; font-size:40px"></i></a></li>
                                <li ><a href="#" ><i class="fab fa-twitter-square" style="color:white; font-size:40px"></i></a></li>
                                <li><a href="#"><i class="fab fa-google-plus-square" style="color:white; font-size:40px"></i></a></li>
                                @*<li><a href="#"><i class="fa fa-behance"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>*@
                            </ul><!-- /.flat-social -->
                        </div><!-- /.subscribe -->
                    </div>
                </div>
            </div>
        </section><!-- /.mail-chimp -->
        <!-- Footer -->
        <footer class="footer" style="background-color:#04828f; color:white;">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-3">
                        <div class="widget widget-link">
                            <ul>
                                <li><a href="@Url.Action("About","home")">About Us</a></li>
                                <li><a href="@Url.Action("index","shop")">Online Store</a></li>
                                <li><a href="blog-list.html">Blog</a></li>
                                <li><a href="@Url.Action("Create","contact")">Contact Us</a></li>
                            </ul>
                        </div><!-- /.widget -->
                    </div><!-- /.col-md-3 -->
                    <div class="col-sm-6 col-md-3">
                        <div class="widget widget-link link-login">
                            <ul>
                                <li><a href="@Url.Action("login","account")">Login/ Register</a></li>
                                <li><a href="@Url.Action("checkout","shop")">Your Cart</a></li>
                                <li><a href="@Url.Action("About","home")">Wishlist items</a></li>
                                <li><a href="@Url.Action("checkout","shop")">Your checkout</a></li>
                            </ul>
                        </div><!-- /.widget -->
                    </div><!-- /.col-md-3 -->
                    <div class="col-sm-6 col-md-3">
                        <div class="widget widget-link link-faq">
                            <ul>
                                <li><a href="faqs.html">FAQs</a></li>
                                <li><a href="#">Term of service</a></li>
                                <li><a href="#">Privacy Policy</a></li>
                                <li><a href="#">Returns</a></li>
                            </ul>
                        </div><!-- /.widget -->
                    </div><!-- /.col-md-3 -->
                    <div class="col-sm-6 col-md-3" style="margin-top:-20px;">
                        <div class="widget widget-brand">
                            <div class="logo logo-footer">
                                <a href="index.html"><img src="~/Content/images/Headerlogo.png" alt="image" width="50" height="15"></a>
                            </div>
                            <ul class="flat-contact">
                                <li class="address">222 Bannu, NA 26, KPK, Pakistan</li>
                                <li class="phone">@ConfigurationServices.Instance.GetConfigs("Companyphone").Value</li>
                                <li class="email">info@booshop.com</li>
                            </ul><!-- /.flat-contact -->
                        </div><!-- /.widget -->
                    </div><!-- /.col-md-3 -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </footer><!-- /.footer -->

        <div class="footer-bottom" style="background-color:#04828f;">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <p class="copyright text-center" style="color:white;">Copyright 2019 <a href="#">ONLINE BOOKSHOP</a></p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Go Top -->
        <a class="go-top" @*style="background-color:#00535b"*@>
            <i class="fa fa-chevron-up" ></i>
        </a>

    </div>

    <!-- Javascript -->
    <script src="~/Content/javascript/tether.min.js"></script>
    <script src="~/Content/javascript/bootstrap.min.js"></script>
    <script src="~/Content/javascript/jquery.easing.js"></script>
    <script src="~/Content/javascript/parallax.js"></script>
    <script src="~/Content/javascript/jquery-waypoints.js"></script>
    <script src="~/Content/javascript/jquery-countTo.js"></script>
    <script src="~/Content/javascript/jquery.countdown.js"></script>
    <script src="~/Content/javascript/jquery.flexslider-min.js"></script>
    <script src="~/Content/javascript/images-loaded.js"></script>
    <script src="~/Content/javascript/jquery.isotope.min.js"></script>
    <script src="~/Content/javascript/magnific.popup.min.js"></script>
    <script src="~/Content/javascript/jquery.hoverdir.js"></script>
    <script src="~/Content/javascript/owl.carousel.min.js"></script>
    <script src="~/Content/javascript/equalize.min.js"></script>
    <script src="~/Content/javascript/gmap3.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAIEU6OT3xqCksCetQeNLIPps6-AYrhq-s&region=GB"></script>
    <script src="~/Content/javascript/jquery-ui.js"></script>

    <script src="~/Content/javascript/jquery.cookie.js"></script>
    <script src="~/Content/javascript/main.js"></script>

    <!-- Revolution Slider -->
    <script src="~/Content/rev-slider/js/jquery.themepunch.tools.min.js"></script>
    <script src="~/Content/rev-slider/js/jquery.themepunch.revolution.min.js"></script>
    <script src="~/Content/javascript/rev-slider.js"></script>
    <!-- Load Extensions only on Local File Systems ! The following part can be removed on Server for On Demand Loading -->
    <script src="~/Content/rev-slider/js/extensions/revolution.extension.actions.min.js"></script>
    <script src="~/Content/rev-slider/js/extensions/revolution.extension.carousel.min.js"></script>
    <script src="~/Content/rev-slider/js/extensions/revolution.extension.kenburn.min.js"></script>
    <script src="~/Content/rev-slider/js/extensions/revolution.extension.layeranimation.min.js"></script>
    <script src="~/Content/rev-slider/js/extensions/revolution.extension.migration.min.js"></script>
    <script src="~/Content/rev-slider/js/extensions/revolution.extension.navigation.min.js"></script>
    <script src="~/Content/rev-slider/js/extensions/revolution.extension.parallax.min.js"></script>
    <script src="~/Content/rev-slider/js/extensions/revolution.extension.slideanims.min.js"></script>
    <script src="~/Content/rev-slider/js/extensions/revolution.extension.video.min.js"></script>

    <form id="logofform" method="post" action="@Url.Action("logoff", "Account")">
        @Html.AntiForgeryToken()
    </form>

    <script>
        $("#btnlogof").click(function () {
            $("#logofform").submit();
        });
    </script>

</body>
</html>
