﻿@model  OrderDetailViewModel
@{
    ViewBag.Title = "Detail";

    Layout = "~/views/shared/_dashboardlayout.cshtml";
}

@if (Model != null && Model.Order != null)
{
    var i = 1;
    <section class="flat-row main-shop shop-slidebar">
        <div class="container">
            <div class="row">





                <div class="col-md-4 order-md-5 mb-4">
                    <h4 class="d-flex justify-content-between align-items-center mb-3">
                        <span class="text-muted">Your cart</span>
                    </h4>
                    <ul class="list-group mb-3">
                        @foreach (var orderitem in Model.Order.OrderItem)
                        {
                            <li class="list-group-item d-flex justify-content-between lh-condensed card" data-id="@orderitem.ID">
                              
                                <h6 class="my-0 card-title">@i: @orderitem.Products.Name    <span style="margin-left: 50%">Qty: @orderitem.Quantity</span> </h6>
                                <small class="text-muted card-text">@(orderitem.Products.Description.Length > 100 ? orderitem.Products.Description.Substring(0, 99) : orderitem.Products.Description)</small>

                            </li>
                            <li class="list-group-item d-flex justify-content-between">
                                <span class="text-muted card-text">Unit Price: $@orderitem.Products.Price </span>
                                <span class="text-muted card-text"> Total Price: $@(orderitem.Quantity * orderitem.Products.Price) </span>
                            </li>
                            i++;
                        }

                        <li class="list-group-item d-flex justify-content-between">
                            <span>Total (USD)</span>
                            <strong>@Model.Order.TotalAmount</strong>
                        </li>
                    </ul>

                    <b>  @Html.ActionLink("Go Back", "orderview", "order")</b>


                </div>

                <div class="col-md-8 order-md-1">
                    <h4 class="mb-3">Billing address</h4>
                    <form class="needs-validation" novalidate="">
                        <div class="row">

                            <div class="col-md-12">
                                <label for="address">Full Name</label>
                                <input type="text" class="form-control" id="address" placeholder="" value="@Model.Orderby.Name" required="">
                            </div>

                            <div class="col-md-12 ">
                                <label for="firstName">Name</label>
                                <input type="text" class="form-control" id="Name" placeholder="" value="@Model.Orderby.UserName" required="">
                            </div>

                            <div class="col-md-12">
                                <label for="email">Email</label>
                                <input type="email" class="form-control" id="Email" placeholder="you@example.com" value="@Model.Orderby.Email">
                            </div>

                            <div class="col-md-12">
                                <label for="address">City</label>
                                <input type="text" class="form-control" id="address" placeholder="" value="@Model.Orderby.City" required="">
                            </div>

                            <div class="col-md-12">
                                <label for="address">Address</label>
                                <input type="text" class="form-control" id="address" placeholder="" value="@Model.Orderby.Address" required="">
                            </div>
                            <div class="col-md-12">
                                <label for="address">Phone</label>
                                <input type="text" class="form-control" id="address" placeholder="" value="@Model.Orderby.PhoneNumber" required="">
                            </div>

                            <div class="col-md-12">
                                <label for="address">Date/Time</label>
                                <input type="text" class="form-control" id="date/time" placeholder="" value="@Model.Order.OrderedAt" required="">
                            </div>

                            <div class="col-md-12">
                                <label for="address">Status</label>
                                <select name="Status" id="ChangeStatus" class="form-control">
                                    @foreach (var availablestatus in Model.AvailableStatuses)
                                    {
                                        var isselectestatus = availablestatus == Model.Order.Status;

                                        <option @(isselectestatus ? "selected" : string.Empty)>@availablestatus</option>

                                    }
                                </select>
                            </div>

                        </div>


                    </form>
                </div>
            </div>
        </div><!-- /.container -->
    </section><!-- /.flat-row -->
    <script>
    $("#ChangeStatus").change(function () {
     $.ajax({
            url: '@Url.Action("ChangeStatus", "Order")',
            data: {
                status: $("#ChangeStatus").val(),
                ID: '@Model.Order.ID'
            }
        })
         .done(function (response) {
             if (response.Success)
             {
                 //swal("Done!", "Your Order has been Updated !", "success");
                 alert("Your Order has been Updated !");
             }
             else {
                 //swal("error!", "Unable to Update !", "warning");
                 alert("Order not Updated !");

             }
            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("Fail");
            });
    });
    </script>


}
else
{
    <b>No Order Detail is Found</b>
}



