﻿@model OrderViewModel

@*@{
    ViewBag.Title = "Order";
  
    Layout = "~/views/shared/_dashboardlayout.cshtml";
}*@

<div class="row">
    <div class="col-md-12">
        <div class="title-section">
            <h2 class="title">Order</h2>
        </div>
    </div>
</div>

<div class="container">
    <div id="tablecontainer">
        <div>   
            <form method="post">
                <div class="row">
                    <div class="col-md-8">
                        <div class="form-group">
                            <label>Search</label>
                            <input class="form-control" id="searchtxt" name="UserID" value="@Model.UserID" />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Action</label>
                            <div class="row">
                                <div class="col-md-4 pr-0">
                                    <button class="form-control btn btn-primary" type="submit" id="searchBtn">Search</button>
                                </div>
                                <div class="col-md-4 pr-0">
                                    <a class="form-control btn btn-primary" type="button" href="@Url.Action("OrderView","Order", new {pageNo = 1 })" id="resetBtn">Reset</a>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <div>
          
            <table class="table table-striped" id="table">
                <thead>
                    <tr>
                        <th class="font-weight-bold">User ID</th>
                        <th class="font-weight-bold">Total Price</th>
                        <th class="font-weight-bold">Status</th>
                        @*<th class="font-weight-bold ">Action</th>*@
                    </tr>
                </thead>
                <tbody>

                    @if (Model.Order != null && Model.Order.Count > 0)
                    {
                        foreach (var order in Model.Order)
                        {
                            <tr>
                                <td>@order.UserID</td>
                                <td>
                                    @order.TotalAmount
                                </td>
                                <td>@order.Status</td>
                                <td>
                                    <a class="detailbtn" data-id="@order.ID" href="@Url.Action("Details", "Order", new { ID = order.ID })"><i class="fas fa-info-circle" style="color:#0d48c2"></i></a>
                                </td>
                                <td>
                                    <a class="deletebtn" data-id="@order.ID" href="#"><i class="fas fa-trash-alt"></i></a>
                                </td>

                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td class="text-danger" colspan="4">No Order found</td>
                        </tr>
                    }
                </tbody>
            </table>
          
            <div style="text-align:center; font-size:20px;">

                @if (Model.Pager != null && Model.Pager.TotalPages > 1)
                {
                    if (Model.Pager.CurrentPage > 1)
                    {
                        <a class="pageButtons" data-pageno="1" href="@Url.Action("orderview","Order", new { userID = Model.UserID, status = Model.Status, pageNo = 1 })"><i class="fa fa-angle-double-left btn btn-primary"></i></a>
                        <a class="pageButtons" data-pageno="@(Model.Pager.CurrentPage - 1)" href="@Url.Action("orderview","Order", new { userID = Model.UserID, status = Model.Status, pageNo = Model.Pager.CurrentPage - 1 })"><i class="fa fa-angle-left btn btn-primary"></i></a>
                    }

                    for (var page = Model.Pager.StartPage; page <= Model.Pager.EndPage; page++)
                    {
                        var activeclass = Model.Pager.CurrentPage == page ? "Active bg-info" : string.Empty;
                        <a class="@activeclass pageButtons" data-pageno="@page" href="@Url.Action("orderview","Order", new { userID = Model.UserID, status = Model.Status, pageNo = page})">@page</a>

                    }

                    if (Model.Pager.CurrentPage < Model.Pager.TotalPages)
                    {
                        <a class="pageButtons" data-pageno="@(Model.Pager.CurrentPage + 1)" href="@Url.Action("orderview","Order", new { userID = Model.UserID, status = Model.Status, pageNo = Model.Pager.CurrentPage + 1 })"><i class="fa fa-angle-right btn btn-primary"></i></a>
                        <a class="pageButtons" data-pageno="@Model.Pager.EndPage" href="@Url.Action("orderview","Order", new { userID = Model.UserID, status = Model.Status, pageNo = Model.Pager.EndPage })"><i class="fa fa-angle-double-right  btn btn-primary"></i></a>
                    }
                }
            </div>
        </div>
    </div>
</div>

<script>
    function focusAction(controltofocus) {
        $("html, body").animate({
            scrollTop: $("#" + controltofocus).offset().top - 100
        }, 1000);
    }

     $(".deletebtn").click(function () {
        var confirmdelete = confirm("Are you sure to delete this Record !!");


         //swal({
         //    title: "Are you sure?",
         //    text: "Once deleted, you will not be able to recover this imaginary file!",
         //    icon: "warning",
         //    buttons: true,
         //    dangerMode: true,
         //})
         //    .then((willDelete) => {
         //        if (willDelete) {
                     
         //            swal("Poof! Your imaginary file has been deleted!", {
         //                icon: "success",
         //            });
         //        } else {
         //            swal("Your imaginary file is safe!");
         //        }
         //    });

        if (confirmdelete) {

            $.ajax({
            type:"post",
            url: '@Url.Action("DeleteOrder", "order")',
            data: {
                ID: $(this).attr("data-id")
            }
             })
                 .done(function (response) {
                     $("#tablecontainer").html(response);
                 })
                 .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                     alert("Fail");
                 });

         }
    });

</script>
