﻿@model BookshopUser




@if (Model != null @*&& Model.User != null*@)
{






    <section style="background-color:#ffffff">

            <div class="main">
              
                <div class="main-row" style="background-color:#ffffff">
                    <div class="agileits-info">
                        <div class="agileits-infoleft">
                            @*<img src="~/Content/images/Headerlogo.png" alt="" />*@
                        </div>
                        <div class="agileits-inforight">
                            <h2>@Model.UserName Profile</h2>
                         
                            <p> <img src="~/Content/images1/i1.png" /> @Model.PhoneNumber</p>
                            <p><img src="~/Content/images1/i2.png" /> <a href="mailto:example@mail.com"> @Model.Email</a></p>
                        </div>
                        <div class="clear"> </div>
                    </div>
                  
                    <div class="contact-wthree">
                        @*@using (Html.BeginForm("logeduser", "order", FormMethod.Post))
                        {*@
                        <form id="updateUser">

                            @Html.AntiForgeryToken()
                            @Html.TextBoxFor(m => m.Name, new { @placeholder = "Full Name", @Class = "form-control col-md-4 align-center offset-md-4" })
                            @Html.ValidationMessageFor(m => m.Name)

                            <br />
                            <br />

                            @Html.TextBoxFor(m => m.UserName, new { @placeholder = "User name", @Class = "form-control col-md-4 align-center offset-md-4" })
                            @Html.ValidationMessageFor(m => m.UserName)
                            <br />
                            <br />

                            @Html.TextBoxFor(m => m.Email, new { @placeholder = "Email", @Class = "form-control col-md-4 align-center offset-md-4" })
                            @Html.ValidationMessageFor(m => m.Email)
                            <br />
                            <br />

                            @Html.TextBoxFor(m => m.City, new { @placeholder = "City", @Class = "form-control col-md-4 align-center offset-md-4" })
                            @Html.ValidationMessageFor(m => m.City)
                            <br />
                            <br />

                            @Html.TextBoxFor(m => m.Address, new { @placeholder = "Address", @Class = "form-control col-md-4 align-center offset-md-4" })
                            @Html.ValidationMessageFor(m => m.Address)
                            <br />
                            <br />

                            @Html.TextBoxFor(m => m.PhoneNumber, new { @placeholder = "Phone Number", @Class = "form-control col-md-4 align-center offset-md-4" })
                            @Html.ValidationMessageFor(m => m.PhoneNumber)
                            <br />
                            <br />

                        </form>

                            <div class="col-md-4 offset-md-4">

                                <div style="margin-top:10px;">
                                    <button id="UpdateBtn" type="submit" class="btn btn-primary">Update</button>
                                    <a class="btn btn-primary @*btn-lg btn-block*@" href="@Url.Action("Userorders","shop", new {userID = Model.Id })">User Order</a>
                                    <a id="cancelbtn" href="@Url.Action("LogedUser", "order")" class="btn">Reset</a>
                                </div>

                                <div>
                                    <p style="color:blue">
                                        if you want to change password?
                                        <b>  @Html.ActionLink("Click Here", "ChangePassword", "Account");</b>
                                    </p>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>

            <div class="w3copyright-agile">
                <p style="color:#042a10; text-align:center;">© 2019 Client Contact Form. All rights reserved | Design by <a href="http://w3layouts.com/" target="_blank">Bookshop.com</a></p>
            </div>

    </section>




  
}

<script>
      $("#UpdateBtn").click(function () {
        //if ($("#editproduct").valid())
        //{
        $.ajax({
            type: "Post",
            url: '@Url.Action("LogedInUser", "Order")',
            data: $("#updateUser").serialize()
        })
            .done(function (response) {
                $("#tablecontainer").html(response);

            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("Fail");
            });
        //}
        //else {
        //    swal({
        //        title: "JS Warning",
        //        text: "Please Enter all required field !",
        //        icon: "warning",
        //        buttons: true,
        //        dangerMode: true,
        //    })
        //}
    });
</script>


