﻿
@{
    ViewBag.Title = "LogedUser";
    Layout = "~/Views/Shared/_Layout.cshtml";


}
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="title-section">
                <h2 class="title">Your Account</h2>
            </div>
        </div>
    </div>
    <div id="tablecontainer">
        @{
            Html.RenderAction("LogedInUser");
        }
    </div>
</div>

<script>
    function focusAction(controltofocus) {
        $("html, body").animate({
            scrollTop: $("#" + controltofocus).offset().top - 100
        }, 1000);
    }
</script>

