﻿
@{
    ViewBag.Title = "Orderview";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.10.1/css/all.css" integrity="sha384-wxqG4glGB3nlqX0bi23nmgwCSjWIW13BdLUEYC4VIMehfbcro/ATkyDsF/AbIOVe" crossorigin="anonymous">



<div class="container">
    <div id="tablecontainer">

        @{
            Html.RenderAction("Index");
        }
    </div>
    <hr />
  
</div>

@*<script>
    function focusAction(controltofocus) {
        $("html, body").animate({
            scrollTop: $("#" + controltofocus).offset().top - 100
        }, 1000);
    }
</script>*@
