﻿@model UserDetailsViewModel

@if (Model != null && Model.User != null)
{
    <form>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Name</label>
            <div class="col-sm-10">
            <input name="name" type="text" class="form-control" value="@Model.User.Name" required>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label">User Name</label>
            <div class="col-sm-10">
                <input name="username" type="text" class="form-control" value="@Model.User.UserName" required>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-10">
                <input name="email" type="text" class="form-control" value="@Model.User.Email" required>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Address</label>
            <div class="col-sm-10">
                <input name="address" type="text" class="form-control" value="@Model.User.Address" required>
            </div>
        </div>
       
    </form>
}
