﻿@model DashboardViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">




<div class="jumbotron">
    <div class="card card-header bg-faded" style="background-color:#0066d4; color:ghostwhite; opacity:0.9">
        <h1 class="display-4" style="font-size:30px"><b>Hello, @User.Identity.Name!</b></h1>
        <p class="lead"><b>Welcom to Book Shop Dashboard! Below are the few demographics of Book Shop!! </b></p>
    </div>  
</div>

<div class="row">
    <div class="col-md-12">


        <div class="card-deck text-white">

            <div class=" card text-center" style="border:1px solid #ef6363">
                <div class="card-title display-2 align-middle" style="background-color:#ef6363">
                    <h1>
                        <i class="fa fa-users " aria-hidden="true"></i>
                        @Model.UserCount
                    </h1>

                    <h5>Total Users</h5>
                </div>
                <div class="card-footer display-4" style="margin-top:-13px;">
                    <a href="@Url.Action("user","dashboard")" style="color:#f53b3b;">View details<i class="fa fa-arrow-circle-o-right pull-right" aria-hidden="true"></i></a>
                </div>
            </div>



            <div class=" card text-center" style="border:1px solid #ff8a36">
                <div class="card-title display-2 align-middle" style="background-color:#ff8a36">
                    <h1>
                        <i class="fa fa-product-hunt" aria-hidden="true"></i>
                        @Model.Product
                    </h1>

                    <h5>Product</h5>
                </div>
                <div class="card-footer display-4" style="margin-top:-13px;">
                    <a href="@Url.Action("index","product")" style="color:#ff8a36;">View details<i class="fa fa-arrow-circle-o-right pull-right" aria-hidden="true"></i></a>
                </div>
            </div>

            <div class=" card text-center" style="border:1px solid #53e437">
                <div class="card-title display-2 align-middle" style="background-color:#53e437">
                    <h1>
                        <i class="fa fa-list-alt" aria-hidden="true"></i>
                        @Model.Category
                    </h1>

                    <h5>Categories</h5>
                </div>
                <div class="card-footer display-4" style="margin-top:-13px;">
                    <a href="@Url.Action("index","category")" style="color:#53e437;">View details<i class="fa fa-arrow-circle-o-right pull-right" aria-hidden="true"></i></a>
                </div>
            </div>

            <div class=" card text-center" style="border:1px solid #3aacff">
                <div class="card-title display-2 align-middle" style="background-color:#3aacff">
                    <h1>
                        <i class="fa fa-compress" aria-hidden="true"></i>
                        @Model.Contact
                    </h1>

                    <h5>Contact</h5>
                </div>
                <div class="card-footer display-4" style="margin-top:-13px;">
                    <a href="@Url.Action("index","contact")" style="color:#3aacff;">View details<i class="fa fa-arrow-circle-o-right pull-right" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
<hr />

<div class="row">
    <div class="col-md-12">





        <div class="card-deck text-white">

            <div class=" card text-center" style="border:1px solid #ffe44d">
                <div class="card-title display-2 align-middle" style="background-color:#ffe44d">
                    <h1>
                        <i class="fa fa-first-order" aria-hidden="true"></i>
                        @Model.Neworder
                    </h1>

                    <h5>New Orders</h5>
                </div>
                <div class="card-footer display-4" style="margin-top:-13px;">
                    <a href="@Url.Action("orderview","order")" style="color:#d3b304;">View details<i class="fa fa-arrow-circle-o-right pull-right" aria-hidden="true"></i></a>
                </div>
            </div>



            <div class=" card text-center" style="border:1px solid #fe4488">
                <div class="card-title display-2 align-middle" style="background-color:#fe4488">
                    <h1>
                        <i class="fas fa-spinner"></i>
                        @Model.InProgress
                    </h1>

                    <h5>InProgress</h5>
                </div>
                <div class="card-footer display-4" style="margin-top:-13px;">
                    <a href="@Url.Action("orderview","order")" style="color:#fe4488;">View details<i class="fa fa-arrow-circle-o-right pull-right" aria-hidden="true"></i></a>
                </div>
            </div>

            <div class=" card text-center" style="border:1px solid #8758ff">
                <div class="card-title display-2 align-middle" style="background-color:#8758ff">
                    <h1>
                        <i class="fas fa-truck"></i>
                        @Model.Delivered
                    </h1>

                    <h5>Delivered</h5>
                </div>
                <div class="card-footer display-4" style="margin-top:-13px;">
                    <a href="@Url.Action("orderview","order")" style="color:#8758ff;">View details<i class="fa fa-arrow-circle-o-right pull-right" aria-hidden="true"></i></a>
                </div>
            </div>

            <div class=" card text-center" style="border:1px solid #ff70bf">
                <div class="card-title display-2 align-middle" style="background-color:#ff70bf">
                    <h1>
                        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                        @Model.Order
                    </h1>

                    <h5>Order</h5>
                </div>
                <div class="card-footer display-4" style="margin-top:-13px;">
                    <a href="@Url.Action("orderview","order")" style="color:#ff70bf;">View details<i class="fa fa-arrow-circle-o-right pull-right" aria-hidden="true"></i></a>
                </div>
            </div>
         </div>





    </div>
</div>




