﻿
@{
    ViewBag.Title = "Role";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>

<h2>Role</h2>
<div id="tablecontainer">

    @{
        Html.RenderAction("RoleTable");
    }

</div>


