﻿@model UserRoleViewModel

<h5>
    User Roles
</h5>
@if (Model != null && Model.UserRole != null && Model.UserRole.Count > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Role</th>
                <th scope="col">Delete</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var role in Model.UserRole)
            {
                <tr>
                    <th scope="row">@role.Id</th>
                    <td>@role.Name</td>
                    <td>
                        <button type="button" class="btn btn-danger btnDeleterole" data-id="@role.Id">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="alert alert-warning" role="alert">
        There is no Role Exist!!
    </div>
}




<h5>
    Assign Role
</h5>

<table class="table">
    <tbody>
        <tr>
            <td>
                <select class="form-control" id="sltAssignRoles">
                    <option value="">Please Select</option>
                    @foreach (var role in Model.AvailableRole.Where(r => Model.UserRole.FirstOrDefault(ur => ur.Id == r.Id) == null))
                    {
                        <option value="@role.Id">
                            @role.Name
                        </option>

                    }
                </select>
            </td>
            <td>
                <button type="button" class="btn btn-success" id="btnassign">Assign</button>
            </td>
        </tr>
    </tbody>
</table>

<script>
    $("#btnassign").click(function () {
   
        var roleID = $("#sltAssignRoles").val();

        if (roleID != undefined && roleID != "") {

            $.ajax({
                url: "@Url.Action("AssignRole", "dashboard", new { userID = Model.User.Id})",
                data: {
                    roleID: roleID
                }
            })

                .done(function (response) {
                    $(".model-loader").hide();
                    $("#tablecontainer").html(response);
                });
        }
        else {

        }
    })
    $(".btnDeleterole").click(function () {
     
        var roleID = $(this).attr("data-id");

        if (roleID != undefined && roleID != "") {

            $.ajax({
                url: "@Url.Action("DeleteRole", "dashboard", new { userID = Model.User.Id})",
                data: {
                    roleID: roleID
                }
            })

                .done(function (response) {
                    $(".model-loader").hide();
                    $("#tablecontainer").html(response);
                });
        }
        else {

        }
    })
</script>

