﻿
@model ContactViewModel


<div class="row">
    <div class="col-md-12">
        <div class="title-section">
            <h2 class="title">User Contact for Admin</h2>
        </div>
    </div>
</div>

<div class="container">
    <div id="tablecontainer">


        <div>

            <table class="table table-striped" id="table">
                <thead>
                    <tr>
                        <th class="font-weight-bold">User ID</th>
                        <th class="font-weight-bold">Name</th>
                        <th class="font-weight-bold">Email</th>
                        <th class="font-weight-bold ">Phone No.</th>
                        <th class="font-weight-bold ">Message</th>
                        <th class="font-weight-bold ">Action</th>

                    </tr>
                </thead>
                <tbody>

                    @if (Model.Contacts != null && Model.Contacts.Count > 0)
                    {
                        if (User.Identity.IsAuthenticated)
                        {
                            foreach (var contact in Model.Contacts)
                            {
                                <tr>
                                    <td>@contact.Id</td>
                                    <td>
                                        @contact.FullName
                                    </td>
                                    <td>@contact.Email</td>
                                    <td>
                                        @contact.Message

                                    </td>
                                    <td>
                                        <a class="detailbtn" href="@Url.Action("Details", "contact", new { ID = contact.Id })">Detail</a>
                                    </td>
                                    <td>
                                        <a class="deletebtn" data-id="@contact.Id" href="#">Delete</a>
                                    </td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td class="text-danger" colspan="4">No Order found</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
            @*<div>

                @if (Model.Pager != null && Model.Pager.TotalPages > 1)
                {
                    if (Model.Pager.CurrentPage > 1)
                    {
                        <a class="pageButtons" data-pageno="1" data-href="@Url.Action("userordersforadmin","dashboard", new { userID = Model.UserID, status = Model.Status, pageNo = 1 })">First</a>
                        <a class="pageButtons" data-pageno="@(Model.Pager.CurrentPage - 1)" data-href="@Url.Action("userordersforadmin","dashboard", new { userID = Model.UserID, status = Model.Status, pageNo = Model.Pager.CurrentPage - 1 })">Previous</a>
                    }

                    for (var page = Model.Pager.StartPage; page <= Model.Pager.EndPage; page++)
                    {
                        var activeclass = Model.Pager.CurrentPage == page ? "Active bg-info" : string.Empty;
                        <a class="@activeclass pageButtons" data-pageno="@page" data-href="@Url.Action("userordersforadmin","dashboard", new { userID = Model.UserID, status = Model.Status, pageNo = Page})">@page</a>

                    }

                    if (Model.Pager.CurrentPage < Model.Pager.TotalPages)
                    {
                        <a class="pageButtons" data-pageno="@(Model.Pager.CurrentPage + 1)" data-href="@Url.Action("userordersforadmin","dashboard", new { userID = Model.UserID, status = Model.Status, pageNo = Model.Pager.CurrentPage + 1 })">Next</a>
                        <a class="pageButtons" data-pageno="@Model.Pager.EndPage" data-href="@Url.Action("userordersforadmin","dashboard", new { userID = Model.UserID, status = Model.Status, pageNo = Model.Pager.EndPage })">Last</a>
                    }
                }
            </div>*@
        </div>
    </div>
</div>

<script>
    //function focusAction(controltofocus) {
    //    $("html, body").animate({
    //        scrollTop: $("#" + controltofocus).offset().top - 100
    //    }, 1000);
    //}

     @*$(".deletebtn").click(function () {
        var confirmdelete = confirm("Are you sure to delete this Record !!");
        if (confirmdelete) {

            $.ajax({
            type:"post",
            url: '@Url.Action("Delete", "contact")',
            data: {
                ID: $(this).attr("data-id")
            }
        })
            .done(function (response) {
                $("#response-holder").html(response);
            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("Fail");
            });

        }
    });*@

     //$(".pageButtons").click(function () {
     //    var url = $(this).attr("data-href");

     //    if (url != undefined && url != "") {
     //        $(".pageButtons").removeClass("active");
     //        $(this).addClass("active");

     //        $.ajax({
     //            url: url,
     //        })

     //            .done(function (response) {
     //                $(".model-loader").hide();
     //                $("#response-holder").html(response);
     //            });
     //    }
     //})


</script>

