﻿@model UserDetailsViewModel
@{
    ViewBag.Title = "UserDetails";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>
<script src="~/Content/javascript/jquery.min.js"></script>
<script src="~/Content/javascript/jquery-ui.js"></script>

<div class="row mt-2 card-deck">
    <div class="col-md-12">
        <h2>User Details</h2>
        <hr />
    </div>
    @*<div class="col-md-3">
        <div class="card">
            <img src="~/Content/images/avatar.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">@Model.User.Name</h5>
                <p class="card-text">@Model.User.UserName</p>
                <p class="card-text">@Model.User.Address</p>
            </div>
        </div>
    </div>*@

    <div class="col-md-9">
        <div class="card">
            <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs">
                    <li class="nav-item">
                        <a class="user-link nav-link active" href="#" data-href="@Url.Action("userdetails","dashboard", new {userID = Model.User.Id })">Info</a>
                    </li>
                    <li class="nav-item">
                        <a class="user-link nav-link " style="cursor:pointer"  data-href="@Url.Action("userroles","dashboard", new {userID = Model.User.Id })">Role</a>
                    </li>
                    <li class="nav-item">
                        <a class="user-link nav-link " style="cursor:pointer" data-href="@Url.Action("UserOrdersforAdmin","dashboard", new {userID = Model.User.Id })">Order</a>
                    </li>
                    @*<li class="nav-item">
                        <a class="user-link nav-link" data-href="@Url.Action("UserContactsforAdmin","dashboard", new {userID = Model.User.Id })">Contact</a>
                    </li>*@
                </ul>
              
            </div>

            <div class="card-body" id="response-holder">
                @{
                    Html.RenderPartial("_userdetails", Model);

                }     
            </div>
            <b style="margin-left:10px;">  @Html.ActionLink("Go Back", "user", "dashboard")</b>

        </div>
    </div>
</div>

<script>
    $(".user-link").click(function () {
        var url = $(this).attr("data-href");

        if (url != undefined && url != "") {
            $(".user-link").removeClass("active");
            $(this).addClass("active");

            $.ajax({
                url: url,
            })

                .done(function (response) {
                    $(".model-loader").hide();
                    $("#response-holder").html(response);
                });
        }
    })
</script>
