﻿
@model UserViewModel

@{
    ViewBag.Title = "UserTable";
}

<div>
    <form method="post">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Search</label>
                    <input class="form-control" id="searchtxt" name="search" value="@Model.SearchTerm" />
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Action</label>
                    <div class="row">
                        <div class="col-md-4 pr-0">
                            <button class="form-control btn btn-primary" type="button" id="searchBtn">Search</button>
                        </div>
                       @* <div class="col-md-4 pr-0">

    <select class="form-control btn btn-primary" name="RoleID">
         <option>Role</option>
         @foreach (var role in Model.Role)
         {
             <option value="@role.Id">@role.Name</option>
         }
     </select>
                        </div>*@
                        <div class="col-md-4 pr-0">
                            <button class="form-control btn btn-primary" type="button" id="resetBtn">Reset</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<div>
    <table class="table table-striped">
        <thead>
            <tr>
                @*<th class="font-weight-bold">ID</th>*@
                <th class="font-weight-bold">Name</th>
                <th class="font-weight-bold">User Name</th>
                <th class="font-weight-bold">Role</th>
                <th class="font-weight-bold">Email</th>
                <th class="font-weight-bold ">Action</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.User != null && Model.User.Count > 0)
            {
                foreach (var user in Model.User)
                {
                    <tr>
                      
                       
                        <td>@user.Name</td>
                       
                        <td>@user.UserName</td>
                      
                        <td>
                            @if (user.Roles != null)
                            {
                                <text>@user.Roles.Count </text>
                            }
                            else
                            {
                                <text>-</text>
                            }
                        </td>
                        <td>@user.Email</td>
                        <td>
                            <a  href="@Url.Action("userdetails","dashboard", new { userID = user.Id})" >More Detail</a>
                         
                        </td>

                    </tr>
                }
            }
            else
            {
                <tr>
                    <td class="text-danger" colspan="4">No Products found</td>
                </tr>
            }
        </tbody>
    </table>
    <div>

        @if (Model.pager != null && Model.pager.TotalPages > 1)
        {
            if (Model.pager.CurrentPage > 1)
            {
                <button class="pageButtons" data-pageno="1">First</button>
                <button class="pageButtons" data-pageno="@(Model.pager.CurrentPage - 1)">Previous</button>
            }

            for (var page = Model.pager.StartPage; page <= Model.pager.EndPage; page++)
            {
                var activeclass = Model.pager.CurrentPage == page ? "Active bg-info" : string.Empty;
                <button class="@activeclass pageButtons" data-pageno="@page">@page</button>

            }

            if (Model.pager.CurrentPage < Model.pager.TotalPages)
            {
                <button class="pageButtons" data-pageno="@(Model.pager.CurrentPage + 1)">Next</button>
                <button class="pageButtons" data-pageno="@Model.pager.EndPage">Last</button>
            }
        }
    </div>
</div>

<script>
     $(".pageButtons").click(function () {
        $.ajax({
            url: '@Url.Action("usertable", "dashboard")',
            data: {
                pageNo: $(this).attr("data-pageno"),
                searchTerm : "@Model.SearchTerm"
            }
        })
            .done(function (response) {
                $("#tablecontainer").html(response);
            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("Fail");
            });
    });

    $("#searchBtn").click(function () {
        var searchvalue = $("#searchtxt").val();

        $.ajax({
            url: '@Url.Action("UserTable", "Dashboard")',
            data: {
                searchTerm : searchvalue
            }
        })
            .done(function (response) {
                $("#tablecontainer").html(response);

            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("Fail");
            });
    });

    $("#resetBtn").click(function () {
        var searchvalue = '';

        $.ajax({
            url: '@Url.Action("UserTable", "Dashboard")',
            data: {
                search : searchvalue
            }
        })
            .done(function (response) {
                $("#tablecontainer").html(response);

            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("Fail");
            });
    });


     @*$("#newBtn").click(function () {


         $.ajax({
             url: '@Url.Action("Create","Product")',//"/product/Create",

         })
             .done(function (response) {
                 $("#actioncontainer").html(response);
                 focusAction("actioncontainer");
             })
             .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                 alert("Fail");
             });

     });

     $(".editbtn").click(function () {

        $.ajax({
            url: '@Url.Action("Edit","Product")',//"/Product/Edit",
            data: {
                ID: $(this).attr("data-id")
            }
         })
             .done(function (response) {
                 $("#actioncontainer").html(response);
                 focusAction("actioncontainer");
             })
             .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                 alert("Fail");
             });

     });


     $(".deletebtn").click(function () {

         var ConfirmDelete = confirm("Are you sure to delete this Record !");
         if (ConfirmDelete) {

                $.ajax({
                  type: "post",
                  url: '@Url.Action("Delete","Product")',//"/product/Delete",
                  data: {
                      ID: $(this).attr("data-id")
                  }
              })
                  .done(function (response) {
                      $("#tablecontainer").html(response);

                 })
                  .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                      alert("Fail");
                  });
         }
     });

    var products = [];
    $(".Addtocart").click(function () {
        var productID = $(this).attr("data-id");

        products.push(productID);

        $.cookie("CartProducts", products.join('-'), { path: '/' });
        alert("Add Product to cart");

    });*@

</script>