﻿@model NewProductViewModel
@{
    ViewBag.Title = "Create";
    var imageurl = "/Content/images/placeholder-image.png";
}



<h2>Create Product</h2>

<form id="Createproduct">
    <div class="row">
        <div class="col-md-8">

            <div class="form-group">
                <label>Category</label>
                <select class="form-control" name="CategoryID">
                    @foreach (var category in Model.AvailableCategories)
                    {
                        <option value="@category.ID">@category.Name</option>
                    }
                </select>
            </div>

            <div class="form-group">
                <label>Name</label>
                <input class="form-control" name="Name" placeholder="Enter Name">
                @*@Html.ValidationMessageFor(m => m.Name, "", new {@class = "text-danger"})*@
            </div>

            <div class="form-group">
                <label>Description</label>
                <input class="form-control" name="Description" placeholder="Enter Description">
                @*@Html.ValidationMessageFor(m => m.Description, "", new { @class = "text-danger" })*@

            </div>

            <div class="form-group">
                <label>Author</label>
                <input class="form-control" name="Author" placeholder="Enter Author Name">
                @*@Html.ValidationMessageFor(m => m.Author, "", new { @class = "text-danger" })*@
            </div>

            <div class="form-group">
                <label>Publisher</label>
                <input class="form-control" name="Publisher" placeholder="Enter Publisher Name">
                @*@Html.ValidationMessageFor(m => m.Publisher, "", new { @class = "text-danger" })*@
            </div>

            <div class="form-group">
                <label>Old Price</label>
                <input class="form-control" name="OldPrice" placeholder="Enter Old Price">
                @*@Html.ValidationMessageFor(m => m.OldPrice, "", new { @class = "text-danger" })*@
            </div>

            <div class="form-group">
                <label>Price</label>
                <input class="form-control" name="Price" placeholder="Enter Price">
                @*@Html.ValidationMessageFor(m => m.Price, "", new { @class = "text-danger" })*@
            </div>

            <div class="form-group">
                <label>ISBN Number</label>
                <input class="form-control" name="ISBNno" placeholder="Enter ISBN Number">
                @*@Html.ValidationMessageFor(m => m.ISBNno, "", new { @class = "text-danger" })*@
            </div>


            <div class="form-group">
                <label>Edition</label>
                <input class="form-control" name="Edition" placeholder="Enter Edition">
                @*@Html.ValidationMessageFor(m => m.Edition, "", new { @class = "text-danger" })*@
            </div>

            <div class="form-group">
                <label>Stock</label>
                <input class="form-control" name="ProductStock" placeholder="Enter Product Stock">
                @*@Html.ValidationMessageFor(m => m.ProductStock, "", new { @class = "text-danger" })*@
            </div>

            <div class="form-group">
                <label>Image</label>
                <input id="ImageUrl" name="ImageUrl" type="hidden" />
                <input class="form-control" id="Uploadimage" name="Image" type="file" accept=".png, .jpg" required />
                @*@Html.ValidationMessageFor(m => m.ImageUrl, "", new { @class = "text-danger" })*@
            </div>
        </div>

        <div class="col-md-4">
            <br />
            <br />
            <div class="thumb">
                <img src="@imageurl" id="productimage" style="height:300px;width:400px" />
            </div>
        </div>

        <div>
            <button id="savebtn" type="button" class="btn btn-primary">Save</button>
            <button id="cancelbtn" type="button" class="btn btn-primary">Cancel</button>
        </div>

    </div>
</form>



<style>
    .error {
        color: red;
    }
</style>

<script>


    $.validator.addMethod("alphabetsnspace", function (value, element) {
        return this.optional(element) || /^[a-zA-Z ]*$/.test(value);
    });
    jQuery.validator.setDefaults({
        debug: true,
        success: "valid"
    });

    //jQuery.validator.addMethod("accept", function (value, element, param) {
    //    return value.match(new RegExp("." + param + "$"));
    //});




    $("#Createproduct").validate({
        rules: {

            Name: {
                required: true,
                minlength: 3,
                alphabetsnspace : true,
                maxlength: 50,
            },

            Description: {
                required: true,
                minlength: 3,
                maxlength: 500,
            },

            Author: {
                required: true,
                alphabetsnspace : true,

            },

            Publisher: {
                required: true,
                alphabetsnspace : true,

            },

            OldPrice: {
                required: true,
                range: [1, 100000],
            },


            Price: {
                required: true,
                range: [1, 100000],
            },

            ISBNno: {
                required: true,
               
            },

            Edition: {
                required: true,
                maxlength: 20,
                number: true,
            },

            ProductStock: {
                required: true,
                number: true,
            },

            Image: {
                required: true,
            }


        },





        messages: {

            Name: {
                required: 'Name is Required',
                minlength: 'Minimam length is 3',
                alphabetsnspace:'Only Letters and Space is required!',
                maxlength: 'Maximan length is 50',
            },


            Description: {
                required: 'Description is required',
                minlength: 'minimam length is 3',
                maxlength: 'Maximan length is 500',
            },

            Author: {
                required: 'Author Name is required !!',
                alphabetsnspace: 'Only Letters and Space is required!',
            },

            Publisher: {
                required: 'Publisher Name is required !!',
                alphabetsnspace: 'Only Letters and Space is required!',
            },

            OldPrice: {
                required: 'Old Price is required',
                range: 'Old Price range should be between 1 - 100000 !!',
                
            },


            Price: {
                required: 'New Price is required',
                range: 'Price range should be between 1 - 100000 !!',
            },


            ISBNno: {
                required: 'ISBN number is required !!',
                

            },


            Edition: {
                required: 'Edition is required!',
                maxlength: 'Maximam length is 20!',
                number: 'Only Number is required!',

            },


            ProductStock: {
                required: 'Stock Product is required!',
                number: 'Only Number is required!',

            },


            Image: {
                required: 'File is required',
            }

        }
    })

    $("#savebtn").click(function () {
        if ($("#Createproduct").valid())
        {

        $.ajax({
            type: "Post",
            url: '@Url.Action("Create","Product")',//"/Product/Create",
            data: $("#Createproduct").serialize()
        })
            .done(function (response) {
                $("#tablecontainer").html(response);
                $("#actioncontainer").html("");
                focusAction("tablecontainer");
            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("Fail");
            });
        }
        else {
            swal({
                title: "Warning",
                text: "Please Enter all required field !",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
        }
    });


    $("#cancelbtn").click(function () {

        $("#actioncontainer").html("");
        focusAction("tablecontainer");
    });



   $("#Uploadimage").change(function () {
   debugger;
   var element = this;
   var formData = new FormData();
   var totalfiles = element.files.length;

   for (var i = 0; i < totalfiles; i++) {

       var file = element.files[i];
       formData.append("photo", file);
        }

        $.ajax({
            type: "Post",
            url: '@Url.Action("UploadImage","Share")',// "/Share/UploadImage/",
            datatype: "json",
            data: formData,
            contentType:false,
            processData:false
        })
            .done(function (response) {
                console.log(response);
                if (response.Success) {
                    $("#ImageUrl").val(response.ImageURL);
                    $("#productimage").attr("src", response.ImageURL);
                }
            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("Fail");
            });

    });

</script>

