﻿@model  EditProductViewModel
@{
    ViewBag.Title = "Edit";
    var imageurl = !string.IsNullOrEmpty(Model.ImageUrl) ? Model.ImageUrl : "/Content/images/placeholder-image.png";

}

<h2>Edit</h2>

<form id="editproduct">
    <div class="row">
        <div class="col-md-8">
            <input type="hidden" name="ID" value="@Model.ID" />

            <div class="form-group">
                <label>Category</label>
                <select class="form-control" name="CategoryID">
                    @foreach (var category in Model.AvailableCategories)
                    {
                        var selected = category.ID == Model.CategoryID ? "selected" : string.Empty;
                        <option value="@category.ID" @selected> @category.Name</option>
                    }
                </select>
            </div>

            <div class="form-group">
                <label>Name</label>
                <input class="form-control" name="Name" value="@Model.Name" />
            </div>

            <div class="form-group">
                <label>Description</label>
                <input class="form-control" name="Description" value="@Model.Description" />
            </div>

            <div class="form-group">
                <label>Old Price</label>
                <input class="form-control" name="OldPrice" value="@Model.OldPrice" />
            </div>

            <div class="form-group">
                <label>Price</label>
                <input class="form-control" name="Price" value="@Model.Price" />
            </div>

            <div class="form-group">
                <label>Author</label>
                <input class="form-control" name="Author" value="@Model.Author" />
            </div>

            <div class="form-group">
                <label>Publisher</label>
                <input class="form-control" name="Publisher" value="@Model.Publisher" />
            </div>

            <div class="form-group">
                <label>ISBN Number</label>
                <input class="form-control" name="ISBNno" value="@Model.ISBNno" />
            </div>
            <div class="form-group">
                <label>Edition</label>
                <input class="form-control" name="Edition" value="@Model.Edition" />
            </div>

            <div class="form-group">
                <label>Stock</label>
                <input class="form-control" name="ProductStock" value="@Model.ProductStock" />
            </div>

            <div class="form-group">
                <label>Image</label>
                <input type="hidden" id="ImageUrl" name="imageUrl" value="@Model.ImageUrl" />
                <input id="Uploadimage" class="form-control" type="file" name="Image" accept=".png, .jpg" />
            </div>

        </div>
        <br />
        <br />
        <div class="col-md-4">
            <div class="thumb">
                <img src="@imageurl" id="productimage" style="height:300px;width:400px" />
            </div>
        </div>

        <div>
            <button id="UpdateBtn" type="button" class="btn btn-primary">Update</button>
            <button id="cancelbtn" type="button" class="btn btn-primary">Cancel</button>
        </div>
    </div>
</form>


<style>
    .error {
        color: red;
    }
</style>

<script>
    $.validator.addMethod("alphabetsnspace", function (value, element) {
        return this.optional(element) || /^[a-zA-Z ]*$/.test(value);
    });
    jQuery.validator.setDefaults({
        debug: true,
        success: "valid"
    });

    $("#editproduct").validate({
        rules: {

            Name: {
                required: true,
                minlength: 3,
                alphabetsnspace: true,
                maxlength: 50,
            },

            Description: {
                required: true,
                minlength: 3,
                maxlength: 500,
            },

            Author: {
                required: true,
                alphabetsnspace: true,

            },

            Publisher: {
                required: true,
                alphabetsnspace: true,

            },

            OldPrice: {
                required: true,
                range: [1, 100000],
            },


            Price: {
                required: true,
                range: [1, 100000],
            },

            ISBNno: {
                required: true,
                
            },

            Edition: {
                required: true,
                maxlength: 20,
                number: true,
            },

            ProductStock: {
                required: true,
                number: true,
            },

            Image: {
                required: true,
            }


        },





        messages: {

            Name:
            {
                required: 'Name is Required',
                minlength: 'Minimam length is 3',
                alphabetsnspace: 'Only Letters and Space is required!',
                maxlength: 'Maximan length is 50',
            },

            Description:
            {
                required: 'Description is required',
                minlength: 'minimam length is 3',
                maxlength: 'Maximan length is 500',
            },

            Author:
            {
                required: 'Author Name is required !!',
                alphabetsnspace: 'Only Letters and Space is required!',
            },

            Publisher:
            {
                required: 'Publisher Name is required !!',
                alphabetsnspace: 'Only Letters and Space is required!',
            },

            OldPrice:
            {
                required: 'Old Price is required',
                range: 'Old Price range should be between 1 - 100000 !!',
            },


            Price:
            {
                required: 'New Price is required',
                range: 'Price range should be between 1 - 100000 !!',
            },

            ISBNno:
            {
                required: 'ISBN number is required !!',
            },

            Edition:
            {
                required: 'Edition is required!',
                maxlength: 'Maximam length is 20!',
                number: 'Only Number is required!',
            },


            ProductStock:
            {
                required: 'Stock Product is required!',
                number: 'Only Number is required!',
            },


            Image:
            {
                required: 'File is required',
            }

        }
    })

    $("#UpdateBtn").click(function () {
        if ($("#editproduct").valid())
        {
        $.ajax({
            type: "POST",
            url: '@Url.Action("Edit","Product")',//"/Product/Edit",
            data: $("#editproduct").serialize()
        })
            .done(function (response) {
                $("#tablecontainer").html(response);
                $("#actioncontainer").html("");
                focusAction("tablecontainer");
            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("Fail");
            });
        }
        else {
            swal({
                title: "Warning",
                text: "Please Enter all required field !",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
        }
    });
     $("#cancelbtn").click(function () {

                $("#actioncontainer").html("");
                focusAction("tablecontainer");
    });

    ///
    $("#Uploadimage").change(function () {
        debugger;
        var element = this;
        var formData = new FormData();
        var totalfiles = element.files.length;

        for (var i = 0; i < totalfiles; i++) {

            var file = element.files[i];
            formData.append("photo", file);
        }

        $.ajax({
            type: "Post",
            url: '@Url.Action("UploadImage","Share")',// "/Share/UploadImage/",
            datatype: "json",
            data: formData,
            contentType:false,
            processData:false
        })
            .done(function (response) {
                console.log(response);
                if (response.Success) {
                    $("#ImageUrl").val(response.ImageURL);
                    $("#productimage").attr("src", response.ImageURL);
                }
            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("Fail");
            });

    });
</script>