﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.10.1/css/all.css" integrity="sha384-wxqG4glGB3nlqX0bi23nmgwCSjWIW13BdLUEYC4VIMehfbcro/ATkyDsF/AbIOVe" crossorigin="anonymous">


<div class="row">
    <div class="col-md-12">
        <div class="title-section">
            <h2 class="title" style="text-align:center">Products</h2>
        </div>
    </div>
</div>

<div class="container">
    <div id="tablecontainer">

        @{
            Html.RenderAction("ProductTable");
        }
    </div>
    <hr />
    <div id="actioncontainer">

    </div>
</div>

<script>
    function focusAction(controltofocus) {
        $("html, body").animate({
            scrollTop: $("#" + controltofocus).offset().top - 100
        }, 1000);
    }
</script>
