﻿@model ProductSearchViewModel

@{
    ViewBag.Title = "ProductTable";
}

<div>
    <form method="post">
        <div class="row">
            <div class="col-md-8">
                <div class="form-group">
                    <label>Search</label>
                    <input class="form-control" id="searchtxt" name="search" value="@Model.SearchTerm" />
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Action</label>
                    <div class="row">
                        <div class="col-md-4 pr-0">
                            <button class="form-control btn btn-primary" type="button" id="searchBtn">Search</button>
                        </div>
                        <div class="col-md-4 pr-0">
                            <button class="form-control btn btn-primary" type="button" id="resetBtn">Reset</button>
                        </div>
                        <div class="col-md-4 pr-0">
                            <button class="form-control btn btn-primary" type="button" id="newBtn">New</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="font-weight-bold">Product Name</th>
                <th class="font-weight-bold">Category</th>
                <th class="font-weight-bold">Price</th>
                <th class="font-weight-bold ">Action</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Products != null && Model.Products.Count > 0)
            {
                foreach (var product in Model.Products)
                {
                    <tr>
                        <td>@product.Name</td>
                        <td>
                            @if (product.Category != null)
                            {
                                <text>@product.Category.Name </text>
                            }
                            else
                            {
                                <text>-</text>
                            }
                        </td>
                        <td>@product.Price</td>
                        <td>
                            <button class="editbtn" data-id="@product.ID"><i class="fas fa-edit " style="color:#0d48c2"></i></button>
                            <button class="deletebtn" data-id="@product.ID"><i class="fas fa-trash-alt" style="color:#0d48c2"></i></button>
                            @*<button class="Addtocart" data-id="@product.ID">Add To Cart</button>*@
                        </td>

                    </tr>
                }
            }
            else
            {
                <tr>
                    <td class="text-danger" colspan="4">No Products found</td>
                </tr>
            }
        </tbody>
    </table>
    <div>

        @if (Model.Pager != null && Model.Pager.TotalPages > 1)
        {
            if (Model.Pager.CurrentPage > 1)
            {
                <button class="pageButtons" data-pageno="1">First</button>
                <button class="pageButtons" data-pageno="@(Model.Pager.CurrentPage - 1)">Previous</button>
            }

            for (var page = Model.Pager.StartPage; page <= Model.Pager.EndPage; page++)
            {
                var activeclass = Model.Pager.CurrentPage == page ? "Active bg-info" : string.Empty;
                <button class="@activeclass pageButtons" data-pageno="@page">@page</button>

            }

            if (Model.Pager.CurrentPage < Model.Pager.TotalPages)
            {
                <button class="pageButtons" data-pageno="@(Model.Pager.CurrentPage + 1)">Next</button>
                <button class="pageButtons" data-pageno="@Model.Pager.EndPage">Last</button>
            }
        }
    </div>
</div>

<script>
     $(".pageButtons").click(function () {
        $.ajax({
            url: '@Url.Action("ProductTable", "Product")',
            data: {
                pageNo: $(this).attr("data-pageno"),
                search : "@Model.SearchTerm"
            }
        })
            .done(function (response) {
                $("#tablecontainer").html(response);
            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("Fail");
            });
    });

    $("#searchBtn").click(function () {
        var searchvalue = $("#searchtxt").val();

        $.ajax({
            url: '@Url.Action("producttable", "Product")',
            data: {
                search : searchvalue
            }
        })
            .done(function (response) {
                $("#tablecontainer").html(response);

            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("Fail");
            });
    });

    $("#resetBtn").click(function () {
        var searchvalue = '';

        $.ajax({
            url: '@Url.Action("producttable", "Product")',
            data: {
                search : searchvalue
            }
        })
            .done(function (response) {
                $("#tablecontainer").html(response);

            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("Fail");
            });
    });


     $("#newBtn").click(function () {


         $.ajax({
             url: '@Url.Action("Create","Product")',//"/product/Create",

         })
             .done(function (response) {
                 $("#actioncontainer").html(response);
                 focusAction("actioncontainer");
             })
             .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                 alert("Fail");
             });

     });

     $(".editbtn").click(function () {

        $.ajax({
            url: '@Url.Action("Edit","Product")',//"/Product/Edit",
            data: {
                ID: $(this).attr("data-id")
            }
         })
             .done(function (response) {
                 $("#actioncontainer").html(response);
                 focusAction("actioncontainer");
             })
             .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                 alert("Fail");
             });

     });


     $(".deletebtn").click(function () {

         var ConfirmDelete = confirm("Are you sure to delete this Record !");
         if (ConfirmDelete) {

                $.ajax({
                  type: "post",
                  url: '@Url.Action("Delete","Product")',//"/product/Delete",
                  data: {
                      ID: $(this).attr("data-id")
                  }
              })
                  .done(function (response) {
                      $("#tablecontainer").html(response);

                 })
                  .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                      alert("Fail");
                  });
         }
     });

    var products = [];
    $(".Addtocart").click(function () {
        var productID = $(this).attr("data-id");

        products.push(productID);

        $.cookie("CartProducts", products.join('-'), { path: '/' });
        alert("Add Product to cart");

    });

</script>