﻿@model  CheckoutViewModel
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<link href="~/Content/css/Checkout.css" rel="stylesheet" />
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

@if (Model != null && Model.Cartproducts != null && Model.Cartproducts.Count > 0)
{
    var i = 1;


    <section class="flat-row main-shop shop-slidebar col-md-12" style="margin-top:20px; background-color:#ffffff">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <div class="container">
                        <form action="/action_page.php">

                            <div class="row">
                                <div class="col-50">
                                    <div class="title-section margin-bottom-52">
                                        <h2 class="title">
                                            BILLING
                                        </h2>
                                    </div>
                                    <label for="fname"><i class="fa fa-user"></i> Full Name</label>
                                    <input type="text" id="Name" value="@Model.User.Name" placeholder="M AK" disabled>

                                    <label for="email"><i class="fa fa-envelope"></i> Email</label>
                                    <input type="text" id="Email" value="@Model.User.Email" disabled placeholder="john@example.com">

                                    <label for="adr"><i class="fa fa-address-card-o"></i> Address</label>
                                    <input type="text" id="address" value="@Model.User.Address" disabled placeholder="542 W. 15th Street">

                                    <label for="city"><i class="fas fa-user-friends"></i> User Name</label>
                                    <input type="text" id="address" value="@Model.User.UserName" disabled placeholder="username">

                                    <div class="row">
                                        <div class="col-50">
                                            <label for="state"><i class="fas fa-city"></i> City</label>
                                            <input type="text" id="address" value="@Model.User.City" disabled placeholder="NY">
                                        </div>
                                        <div class="col-50">
                                            <label for="zip"><i class="fas fa-phone-volume"></i> Phone:</label>
                                            <input type="text" id="address" value="@Model.User.PhoneNumber" disabled placeholder="10001">
                                        </div>
                                    </div>
                                </div>




                                <div class="col-50">

                                    <div class="title-section margin-bottom-52">
                                        <h2 class="title">
                                            PAYMENT
                                        </h2>
                                    </div>


                                    <label for="fname">Accepted Cards</label>
                                    <div class="icon-container">
                                        <i class="fa fa-cc-visa" style="color:navy;"></i>
                                        <i class="fa fa-cc-amex" style="color:blue;"></i>
                                        <i class="fa fa-cc-mastercard" style="color:red;"></i>
                                        <i class="fa fa-cc-discover" style="color:orange;"></i>
                                        <i class="fa fa-money" style="color:red; font-size:27px; margin-bottom:-20px;"></i>

                                    </div>

                                    <label for="cname">Name on Card</label>
                                    <input type="text" id="cname" name="cardname" placeholder="John More Doe">
                                    <label for="ccnum">Credit card number</label>
                                    <input type="text" id="ccnum" name="cardnumber" placeholder="1111-2222-3333-4444">
                                    <label for="expmonth">Exp Month</label>
                                    <input type="text" id="expmonth" name="expmonth" placeholder="September">

                                    <div class="row">
                                        <div class="col-50">
                                            <label for="expyear">Exp Year</label>
                                            <input type="text" id="expyear" name="expyear" placeholder="2018">
                                        </div>
                                        <div class="col-50">
                                            <label for="cvv">CVV</label>
                                            <input type="text" id="cvv" name="cvv" placeholder="352">
                                        </div>
                                    </div>
                                    <div class="card-header">
                                        <div class="checkout" id="chkbox">
                                            <label><input type="checkbox" value="" style="display:initial">  Cash On Delivery</label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <label>
                                <input type="checkbox" checked="checked" name="sameadr"> Shipping address same as billing
                            </label>
                            <input type="button" id="placeorderbtn" value="Place Order" class="btn">
                            @*<button id="placeorderbtn" class="btn btn-primary  col-md-3" type="button">Place Order</button>*@
                        </form>
                    </div>
                </div>




                <div class="col-md-5" style=" background-color:#f2f2f2; border:1px solid #cac9c9">
                    <br />
                    <div class="title-section margin-bottom-52">
                <h2 class="title">
                    YOUR CART
                </h2>
            </div>
                    <div style="margin-bottom:150px ">
                        <table class="container  table table-bordered table-hover table-striped" style="background-color:#ffffff; width:200px">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Quantity</th>
                                    <th scope="col">Total</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>

                            <tbody>
                                @foreach (var product in Model.Cartproducts)
                              {
                    var productQuantity = Model.CartproductIDs.Where(productID => productID == product.ID).Count();
                                    <tr>
                                        <th scope="row">@i</th>
                                        <td>
                                            <h6 class="my-0">@product.Name</h6>
                                        </td>
                                        <td>
                                            <h6 class="my-0">@product.Price</h6>
                                        </td>
                                        <td>
                                            <h6 class="my-0">@productQuantity</h6>
                                        </td>
                                        <td>
                                            <h6 class="my-0">@(productQuantity * product.Price)</h6>
                                        </td>

                                        <td>
                                            
                                                <button class="deleteCartProduct btn btn-danger" type="button" data-id="@product.ID" style=" background-color:transparent; color:red;">
                                                    <i class="fas fa-times"></i>
                                            </button>
                                           
                                        </td>
                                    </tr>
                                    i++;     
                                }

                            </tbody>
                        </table>
                        <div class="card card-footer text-right">
                            Tolal Bill: @Model.Cartproducts.Sum(x => x.Price * Model.CartproductIDs.Where(productID => productID == x.ID).Count())
                        </div>
                      
                       
                    </div>
                </div>
            </div>
        </div>
    </section>



    <script>
    $("#placeorderbtn").click(function () {
        debugger;
        $.ajax({
            url: '@Url.Action("PlaceOrder", "Shop")',
            data: {
               productIDs: '@string.Join("-", Model.CartproductIDs)'
            }
        })
            .done(function (response) {
                if (response.Success)
                {
                    $.cookie("CartProducts", '', { path: '/' });
                    updateCartProduct();

                    swal("Done!", "Your Order has been placed !", "success").then((value) => {

                    window.location = '@Url.Action("Index","shop")';
                    });
                }
                else
                {
                    swal("Failed!", "Unable to place order !", "warning");


                }
            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("Fail");
            });
        });



        var products;
        $(".deleteCartProduct").click(function () {
            debugger;
            var existingCookiedata = $.cookie('CartProducts');

            if (existingCookiedata != undefined && existingCookiedata != "" && existingCookiedata != null) {
                products = existingCookiedata.split('-');
            }
            else {
                products = [];
            }
            var productID = $(this).attr("data-id")

            products.splice($.inArray(productID, products), 1);

            $.cookie("CartProducts", products.join('-'), { path: '/' });
            updateCartProduct();

            swal("Done!", "Delete Product from cart !", "success").then((value) => {

                    window.location = '@Url.Action("checkout","shop")';
                    });
        });




    </script>

}
else
{
    <div style="font-size:50px; text-align:center; text-shadow: 0px 0px 19px #ffffff; margin-top:20px; height:100px; ">
        <b>No Product is Found</b>
        <div style="font-size:20px; text-align:center; margin-top:20px; height:50px; ">
            If you want to shoping yet!
            <b> @Html.ActionLink("Click Here", "index") </b>
        </div>
    </div>

}







