﻿

@model OrderDetailViewModel

@{
    ViewBag.Title = "DetailsUserOrder";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




@if (Model != null && Model.Order != null)
{
    var i = 1;
    <section class="flat-row main-shop shop-slidebar col-md-12">
        <div class="container">
            <div class="row">
                <div class="col-md-4" style="background-color:#cbc7c7; margin-left: -80px">
                    <div class="page-title-heading text-center" style="margin:0px; padding:0px; font-size:10px;height:70px; margin-top:50px; ">
                        <h1 class="title">Your Products</h1>
                    </div>
                    <ul class="list-group  cart">
                        @foreach (var orderitem in Model.Order.OrderItem)
                        {
                            <li class="list-group-item d-flex justify-content-between lh-condensed " data-id="@orderitem.ID" style="background-color:#12929f; color:#ffffff; margin-top:0px">
                                <h3 class="my-0 card-title text-white" >@i: @orderitem.Products.Name  </h3>
                            </li>
                            <li class="list-group-item d-flex justify-content-between lh-condensed " data-id="@orderitem.ID">
                                <span>Qty: @orderitem.Quantity</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between">
                                <small class="text-muted card-text">@(orderitem.Products.Description.Length > 100 ? orderitem.Products.Description.Substring(0, 99) : orderitem.Products.Description)</small>
                            </li>
                            <li class="list-group-item d-flex justify-content-between">
                                <span class="text-muted card-text">Unit Price: $@orderitem.Products.Price </span>
                                <span class="text-muted card-text"> Total Price: $@(orderitem.Quantity * orderitem.Products.Price) </span>
                            </li>
                            i++;
                        }


                        <li class="list-group-item d-flex justify-content-between" style="margin-top:0px">
                            <h4>Total (USD)</h4>
                            <strong>@Model.Order.TotalAmount</strong>
                        </li>
                    </ul>

                </div>


                <div class="col-md-8" style="margin-top:80px">
                    
                        <div class="form-group row">

                            <label class="col-sm-2 col-form-label">Full Name</label>
                            <div class="col-sm-10">
                                <input name="name" type="text" class="form-control" value="@Model.Orderby.Name" required disabled>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">User Name</label>
                            <div class="col-sm-10">
                                <input name="username" type="text" class="form-control" value="@Model.Orderby.UserName" required disabled>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Email</label>
                            <div class="col-sm-10">
                                <input name="email" type="text" class="form-control" value="@Model.Orderby.Email" required disabled>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">City</label>
                            <div class="col-sm-10">
                                <input name="address" type="text" class="form-control" value="@Model.Orderby.City" required disabled>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Address</label>
                            <div class="col-sm-10">
                                <input name="address" type="text" class="form-control" value="@Model.Orderby.Address" required disabled>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Phone</label>
                            <div class="col-sm-10">
                                <input name="address" type="text" class="form-control" value="@Model.Orderby.PhoneNumber" required disabled>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Status</label>
                            <div class="col-sm-10">
                                <input name="address" type="text" class="form-control" value="@Model.Order.Status" required disabled>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Date/Time</label>
                            <div class="col-sm-10">
                                <input name="address" type="text" class="form-control" value="@Model.Order.OrderedAt" required disabled>
                            </div>
                        </div>

                        @*<div class="form-group row">
                <label class="col-sm-2 col-form-label">Date/Time</label>
                <div class="col-sm-10">
                    <input name="address" type="text" class="form-control" value="@Model.Order.OrderItem." required disabled>
                </div>
            </div>*@

                    </div>
            </div>
        </div>
        </Section>
}
