﻿@model FilterProductsViewModel
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

@{
    var defaultimageurl = "/Content/images/placeholder-image.png";

}
<section class="flat-row main-shop shop-slidebar" style="background-color: #ffffff;">
    <!-- Page title -->
    @*<div class="page-title parallax parallax1 text-center">*@

    <div class="title-section margin-bottom-52">
                <h2 class="title">
                    SHOP
                </h2>
            </div><!-- /.page-title-heading -->
    @*</div>*@ <!-- /.page-title -->


    <div class="filter-shop clearfix">
        <p class="showing-product float-right">
            Showing @(((Model.pager.CurrentPage - 1) * Model.pager.PageSize) + 1) - @((Model.pager.CurrentPage - 1) * Model.pager.PageSize + (Model.Products.Count < Model.pager.PageSize ? Model.Products.Count : Model.pager.PageSize) )  of @Model.pager.TotalItems Products
        </p>
    </div><!-- /.filte-shop -->

    <div class="product-content product-fourcolumn product-slidebar clearfix">
        <ul class="product style2 sd1">
            @foreach (var product in Model.Products)
            {
                var imageurl = string.IsNullOrEmpty(product.ImageUrl) ? defaultimageurl : product.ImageUrl;

                <li class="product-item" style="width:230px;">
                    <div class="card" style="height:450px; width:250px">
                        <div class="product-thumb clearfix" >

                            <a href="@Url.Action("Details", "Product", new { ID = product.ID })" class="product-thumb">
                                <img src="@imageurl" alt="image" style="height:200px; width:200px;">
                            </a>

                            @*<a href="#">
                                <img src="@imageurl" alt="image" style="height:200px; width:200px;">
                            </a>*@

                        </div>
                        <div class="card-body">
                            <div class="price card-body text-left align-text-bottom">
                                <ins>
                                    <div>
                                    <h4 class="card-title card-footer" style="color:#00535b">@product.Name</h4>
                                    </div>
                                    <div class=" card-body text-left align-text-bottom">
                                        <span class="amount card-title" style="color:#c62d2d; background:#ffffff">Publisher: @product.Publisher</span>
                                    </div>
                                        @*<div class="price card-body text-left align-text-bottom">
                                            <span class="amount card-title" style="color:#00535b; background:#f7f7f9">Stock: @product.ProductStock</span>
                                        </div>*@
                                    <div class="price card-body text-left align-text-bottom">
                                        <span class="amount card-title card-footer" style="color:#c62d2d; background:#ffffff">PKR @product.Price</span>
                                        <span class="amount card-title" style="color:#b25252; background:#f7f7f9; text-decoration:line-through">PKR @product.OldPrice</span>
                                    </div>
</ins>
                            </div>
                        </div>
                     
                        <div class="add-to-cart text-center">
                            <a class="ProductAddToCart" data-id="@product.ID">ADD TO CART</a>
                        </div>
                        <a href="#" class="like"><i class="fa fa-heart-o"></i></a>
                    </div>
                </li>
            }
        </ul><!-- /.product -->
    </div><!-- /.product-content -->
    @if (Model.pager != null && Model.pager.TotalPages > 1)

    {
        <div class="product-pagination text-center clearfix">
            <ul class="flat-pagination">

                @if (Model.pager.CurrentPage > 1)
                {
                    <li>
                        <a data-href="@Url.Action("FilterProducts", "shop", new { pageNo = 1, sortby = Model.sortby, categoryID = Model.categoryID})" class="pageDataLink"><i class="fa fa-angle-left"></i></a>
                    </li>
                    <li class="prev">
                        <a data-href="@Url.Action("FilterProducts", "shop", new { pageNo = Model.pager.CurrentPage - 1, sortby = Model.sortby, categoryID = Model.categoryID})" class="pageDataLink"><i class="fa fa-angle-left"></i></a>
                    </li>
                }
                @for (var page = Model.pager.StartPage; page <= Model.pager.EndPage; page++)
                {
                    var activeclass = Model.pager.CurrentPage == page ? "Active bg-info" : string.Empty;

                    <li class="@activeclass"><a data-href="@Url.Action("FilterProducts", "shop", new { pageNo = page, sortby = Model.sortby, categoryID = Model.categoryID})" title="" class="pageDataLink">@page</a></li>
                }
                @if (Model.pager.CurrentPage < Model.pager.TotalPages)
                {
                    <li>
                        <a data-href="@Url.Action("FilterProducts", "shop", new { pageNo = Model.pager.CurrentPage + 1, sortby = Model.sortby, categoryID = Model.categoryID})" class="pageDataLink"><i class="fa fa-angle-right"></i></a>
                    </li>
                    <li>
                        <a data-href="@Url.Action("FilterProducts", "shop", new { pageNo = Model.pager.EndPage, sortby = Model.sortby, categoryID = Model.categoryID})" class="pageDataLink"><i class="fa fa-angle-right"></i></a>
                    </li>
                }
            </ul><!-- /.flat-pagination -->
        </div>
    }

    <input type="hidden" id="SearchTerm" value="@Model.searchTerm" />
    <input type="hidden" id="SortBy" value="@Model.sortby" />
    <input type="hidden" id="CategoryID" value="@Model.categoryID" />

    </section>


    <script>
        $(".pageDataLink").click(function () {

            var url = $(this).attr("data-href");

            if (url != "" || url != undefined) {
                GetData(url);
            }
        })

        var products;
        $(".ProductAddToCart").click(function () {
            var existingCookiedata = $.cookie('CartProducts');

            if (existingCookiedata != undefined && existingCookiedata != "" && existingCookiedata != null) {
                products = existingCookiedata.split('-');
            }
            else {
                products = [];
            }
            var productID = $(this).attr("data-id");

            products.push(productID);


            $.cookie("CartProducts", products.join('-'), { path: '/' });

            updateCartProduct();

            swal("Done!", "Your Product Added To Cart !", "success");
        });

    </script>

