﻿@using Book_Shop.web.Code
@model ShopViewModel
@{
    ViewBag.Title = "Index";
}



<section class="flat-row main-shop shop-slidebar" style="background-color: #ffffff">
    @*<div class="container" >*@
        <div class="row">
            <div class="col-sm-3 text-lg-left"  style="background-color: #ffffff; margin-top:0px; padding: 0px;">
                <div class="sidebar slidebar-shop">

                @*<div class="Searchbody">
                        <form role="search" method="get" class="search-form" action="@Url.Action("Index", "shop")">
                    <div class="Searchbox">
                            <input class="Searchtxt" type="text"  placeholder="Search" value="@Model.searchTerm" name="searchTerm">*@
                            @*<input  type="submit" style="">*@
                                @*<input type="submit" class="Searchbtn fas fa-search" value="">
                           

                    </div>
                        </form>
                </div>*@




                    <div class="widget widget-search">
                        <form role="search" method="get" class="search-form" action="@Url.Action("Index", "shop")">
                            <label>
                                <input type="search" class="search-field" placeholder="Search by Name" value="@Model.searchTerm" name="searchTerm" style="padding-left:10px;">
                            </label>
                            <input type="submit" class="search-submit" value="Search">
                        </form>
                    </div><!-- /.widget-search -->

                    <div class="widget widget_tag">
                        <h5 class="widget-title">
                            Feature Categories
                        </h5>
                        <div class="tag-list" style="width:112%">
                            @foreach (var category in Model.FeaturedCategories)
                            {
                                <ul>
                                    <li> <a data-href="@Url.Action("FilterProducts", "shop", new { categoryID = category.ID, sortby = Model.sortby})" class="datalink @(Model.categoryID.HasValue && Model.categoryID.Value == category.ID ? "active" : string.Empty)">@category.Name</a></li>
                                </ul>
                            }

                        </div>
                    <hr />
                        <div class="widget widget-price">
                            <h5 class="widget-title">Filter by price</h5>
                            <div class="price-filter">
                                <div id="slide-range"></div>
                                <p class="amount">
                                    Price: <input type="text" id="amount" disabled="">
                                </p>
                            </div>
                        </div>
                    </div><!-- /.widget -->

                    <div class="widget widget_tag widget-sort-by">
                        <h5 class="widget-title">
                            SORT BY
                        </h5>
                        <ul>
                            <li><a data-href="@Url.Action("FilterProducts", "shop", new { Sortby = (int)SortbyEnum.Default,         categoryID = Model.categoryID })" class="datalink @(Model.sortby.HasValue ? Model.sortby.Value == (int)SortbyEnum.Default ? "active" : string.Empty : string.Empty)" style="font-size:20px;">Default</a></li>
                            <li><a data-href="@Url.Action("FilterProducts", "shop", new { Sortby = (int)SortbyEnum.Popularity,      categoryID = Model.categoryID })" class="datalink @(Model.sortby.HasValue ? Model.sortby.Value == (int)SortbyEnum.Popularity ? "active" : string.Empty : string.Empty)" style="font-size:20px;">Popularity</a></li>
                            <li><a data-href="@Url.Action("FilterProducts", "shop", new { Sortby = (int)SortbyEnum.Pricelowtohigh,  categoryID = Model.categoryID })" class="datalink @(Model.sortby.HasValue ? Model.sortby.Value == (int)SortbyEnum.Pricelowtohigh ? "active" : string.Empty : string.Empty)" style="font-size:20px;">Price: low to high</a></li>
                            <li><a data-href="@Url.Action("FilterProducts", "shop", new { Sortby = (int)SortbyEnum.Pricehightolow,  categoryID = Model.categoryID })" class="datalink @(Model.sortby.HasValue ? Model.sortby.Value == (int)SortbyEnum.Pricehightolow ? "active" : string.Empty : string.Empty)" style="font-size:20px;">Price: high to low</a></li>
                        </ul>
                    </div><!-- /.widget-sort-by -->

                   
                    <a class="btn" href="@Url.Action("index","shop") ">Reset</a>
                </div><!-- /.sidebar -->
            </div><!-- /.col-md-3 -->
            <div class="col-md-9">
                <div id="ProductDiv">
                    @{
                        var filterProductViewModel = new FilterProductsViewModel();
                        filterProductViewModel.Products = Model.Products;
                        filterProductViewModel.pager = Model.pager;
                        filterProductViewModel.categoryID = Model.categoryID;
                        filterProductViewModel.sortby = Model.sortby;

                        Html.RenderPartial("FilterProducts", filterProductViewModel);
                    }
                </div>


            </div><!-- /.col-md-9 -->
        </div><!-- /.row -->
    @*</div>*@<!-- /.container -->
</section><!-- /.flat-row -->

<script>
    var callTimeout;
    var priceSlider = $( "#slide-range" ).slider({
          range: true,
          min: 0,
          max: @Model.MaximamPrice,
          values: [0, @Model.MaximamPrice ],
          slide: function (event, ui) {
              var minPrice = ui.values[0];
              var maxPrice = ui.values[1];

              $("#amount").val("Rs" + minPrice + ".00" + " - " + "Rs" + maxPrice + ".00");
              clearTimeout(callTimeout);
              callTimeout = setTimeout(PriceRangeChange, 500);
        }
    });

    $(".datalink").click(function () {

        var url = $(this).attr("data-href");

        if (url != "" || url != undefined) {
            GetData(url);
        }
    })

    function GetData(dUrl) {
      
         $.ajax({
             url: dUrl,
             data: {
                 sortby: $("#SortBy").val(),
                 categoryID: $("#CategoryID").val(),
                 minimumPrice: priceSlider.slider("values", 0),
                 maximaumPrice: priceSlider.slider("values", 1)
             }
        })
             .done(function (response) {
                 $("#ProductDiv").html(response);
           })
             .fail(function (XMLHttpRequest, textStatus, errorThrown) {
            alert("Fail");
        });
    }

    function PriceRangeChange() {
        debugger;
         $.ajax({
             url: '@Url.Action("filterProducts", "Shop")',
             data: {
                 searchTerm: $("#SearchTerm").val(),
                 sortby: $("#SortBy").val(),
                 categoryID: $("#CategoryID").val(),
                 minimumPrice: priceSlider.slider("values", 0),
                 maximaumPrice: priceSlider.slider("values", 1)
             }
        })
             .done(function (response) {
                 $("#ProductDiv").html(response);
           })
             .fail(function (XMLHttpRequest, textStatus, errorThrown) {
            alert("Fail");
        });
       }
</script>