﻿@model Book_Shop.web.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="flat-row flat-iconbox">
    <div class="loginbody col-md-3">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="title-section">
                        <h2 class="title">
                            Login
                        </h2>
                    </div>
                </div>
            </div>

            @using (Html.BeginForm("ChangePassword", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    <div class="col-md-12">     
                        @Html.TextBoxFor(m => m.OldPassword, new { @class = "form-control logintextbox", placeholder = "Old Password" })
                        @Html.ValidationMessageFor(m => m.OldPassword, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        @Html.TextBoxFor(m => m.NewPassword, new { @class = "form-control logintextbox", placeholder = "New Password" })
                        @Html.ValidationMessageFor(m => m.NewPassword, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        @Html.TextBoxFor(m => m.ConfirmPassword, new { @class = "form-control logintextbox", placeholder = "Confirm New Password" })
                        @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-6">
                        <input type="submit" value="Change" class="btn btn-default" />
                    </div>
                </div>
                <p>
                    Go back!
                    <b> @Html.ActionLink("Click Here", "logeduser","order") </b>
                </p>

            }

        </div>

    </div>
</section>