﻿@using Book_Shop.web.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.10.1/css/all.css" integrity="sha384-wxqG4glGB3nlqX0bi23nmgwCSjWIW13BdLUEYC4VIMehfbcro/ATkyDsF/AbIOVe" crossorigin="anonymous">



<style type="text/css">
    /* Styles for validation helpers*/
    .field-validation-error {
        color: #ff0000;
    }

    .field-validation-valid {
        display: none;
    }

    .input-validation-error {
        border: 1px solid #ff0000 !important;
        background-color: #ffeeee !important;
    }

    .validation-summary-errors {
        font-weight: bold !important;
        color: #ff0000 !important;
    }

    .validation-summary-valid {
        display: none;
    }
</style>










<section class="flat-row flat-iconbox">
        <div class="loginbody col-md-3">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="title-section">
                    <h2 class="title">
                        Login
                    </h2>
                </div>
            </div>
        </div>

            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()

                @Html.ValidationSummary(true, "", new { @class = "text-danger"})
                <div class="form-group">
                    @*@Html.LabelFor(m => m.Username, new { @class = "col-md-2 control-label" })*@
                    <div class="col-md-12">
                        @*<i class="fas fa-user"></i>*@
                        @Html.TextBoxFor(m => m.Username, new { @class = "form-control logintextbox", placeholder = "Username" })
                        @Html.ValidationMessageFor(m => m.Username, "", new { @class = "text-danger"  })
                    </div>
                </div>
                <div class="form-group">
                    @*@Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })*@
                    <div class="col-md-12">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control logintextbox", placeholder = "Password" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-12">
                        <div class="checkbox">
                            @Html.CheckBoxFor(m => m.RememberMe)
                            @Html.LabelFor(m => m.RememberMe)
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-6">
                        <input type="submit" value="Log in" class="btn btn-default" />
                    </div>
                </div>

                <p>@Html.ActionLink("Forgot Password", "ForgotPassword")</p>
                <p>
                    If you are not Register yet!
                    <b> @Html.ActionLink("Click Here", "Register") </b>
                </p> 
               
                @* Enable this once you have account confirmation enabled for password reset functionality
                    <p>
                        @Html.ActionLink("Forgot your password?", "ForgotPassword")
                    </p>*@
            }

        </div>

    </div>
</section>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>