﻿@model Book_Shop.web.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";

}

<style type="text/css">
    /* Styles for validation helpers*/
    .field-validation-error {
        color: #ff0000;
    }

    .field-validation-valid {
        display: none;
    }

    .input-validation-error {
        border: 1px solid #ff0000 !important;
        background-color: #ffeeee !important;
    }

    .validation-summary-errors {
        font-weight: bold !important;
        color: #ff0000 !important;
       
    }

    .validation-summary-valid {
        display: none;
    }
</style>





<section class="flat-row flat-iconbox">
    <div class="Registerbody container row col-md-5">
        <div class="container row" >
            <div class="col-md-9" >
                <div class="title-section" >
                    <h2 class="title" >
                        Register
                    </h2>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()

                @*@Html.ValidationSummary("", new { @class = "text-danger" })*@

                <div class="form-group">
                    @*@Html.LabelFor(m => m.Name, new { @class = "col-md-2 control-label " })*@
                    <div class="col-md-9" >
                        @Html.TextBoxFor(m => m.Name, new { @class = "form-control registertextbox", placeholder = "Name" })
                        @Html.ValidationMessageFor(m => m.Name, "", new {style = "color:red", @*@class = "text-danger"*@ })
                    </div>
                </div>
                <div class="form-group">
                    @*@Html.LabelFor(m => m.Username, new { @class = "col-md-2 control-label" })*@
                    <div class="col-md-9">
                        @Html.TextBoxFor(m => m.Username, new { @class = "form-control registertextbox", placeholder = "User Name" })
                        @Html.ValidationMessageFor(m => m.Username, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @*@Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })*@
                    <div class="col-md-9">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control registertextbox", placeholder = "Email Address" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @*@Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })*@
                    <div class="col-md-9">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control registertextbox", placeholder = "Password" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @*@Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })*@
                    <div class="col-md-9">
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control registertextbox", placeholder = "Confirm Password" })
                        @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                        @Html.LabelFor(m => m.City, new { @class = "col-md-2 control-label" })
                        <div class="col-md-9">
                            @Html.EditorFor(m => m.City, new { @class = "form-control registertextbox", placeholder = "City" })
                            @Html.ValidationMessageFor(m => m.City, "", new { @class = "text-danger" })


                        </div>
                 </div>

                @*<div class="form-group">
                    @Html.LabelFor(m => m.PhoneNumber, new { @class = "col-md-2 control-label" })
                    <div class="col-md-9">
                        @Html.EditorFor(m => m.PhoneNumber, new { @class = "form-control registertextbox", placeholder = "Phone Number" })
                    </div>
                </div>*@                  

                <div class="form-group">
                    @*@Html.LabelFor(m => m.Address, new { @class = "col-md-2 control-label" })*@
                    <div class="col-md-12">
                        @Html.TextAreaFor(m => m.Address, new { @class = "form-control registertextbox", placeholder = "Address" })
                        @Html.ValidationMessageFor(m => m.City, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" class="btn btn-default" value="Register" />
                    </div>
                </div>
            }
        </div>

    </div>
</section>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>