﻿@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<img src="~/Content/images/aboutuspic1.jpg" alt="" data-bgposition="center center" data-no-retina style="height:400px; width:100%">

<section style="background-color:#ffffff">

    <div class="container" style="background-color:#ffffff">

       

            <div class="title-section margin-bottom-52">
                <h2 class="title">
                    ABOUT US
                </h2>
            </div>
            <p style="font-size:15px; margin-bottom:8px; color:#0e0a0a; margin-left:29%;">Know more about us and the great work we do here at Online Shop.</p>
        


        <br /><br />
        <div class="row " style=" height:1000px">



            <div class="col-md-6">
                <img src="~/Content/images/About1.jpg" style="height:400px; width:600px " />

                <br /><br />
                <h2 style="font-size:25px; margin-top:10px;color:red;">
                    start shopping NOW !
                </h2>

                <br />
                <h2>Remember FULL CART WAS NEVER SO CHEAP.</h2>
                <p style="font-size:15px; margin-top:10px; text-justify:auto; color:#0e0a0a">
                    We have a vast collection of books on a wide array of genres that vary from Medical,
                    Professional, and General to Social Sciences, Religion and Arts.

                    Our Head Office is situated in Peshawer, whereas, our branch offices are situated in Islamabad,
                    Lahore, Bannu, Abbottabad, Hyderabad and Faisalabad as well.
                    We also have a network of associated booksellers across the country to ensure a
                    smooth supply and availability of our books.
                </p>
                <br />
                <div class="title-section margin-bottom-52">
                    <h2 class="title">
                        CONTACT US
                    </h2>
                </div>
                <div style="margin-bottom:60px;">

                    <p style=" margin-left:60%; font-size:15px; color:#0e0a0a"> E-mail: info@bookshop.com</p>
                    <p style=" margin-left:60%; font-size:15px; color:#0e0a0a"> Watsapp: +923038862049</p>
                    <p style=" margin-left:60%; font-size:15px; color:#0e0a0a"> Phone: +923171906299</p>
                </div>
            </div>



            <div class="col-md-6">
                <h2>Welcome to our Store Services</h2>
                <p style="font-size:15px; margin-top:10px; text-justify:auto; color:#0e0a0a">Online Books Shop provides best solution to buy books online in Pakistan at single click. Online Book Shop provides facility to pay cash on delivery, only pay once books is in your hands. Free Cash on Delivery services available. Online Books Shop only deals in original books with competitive rates. So, what are you waiting for ?</p>
                <br /><br />
                <p style="font-size:15px; margin-top:10px; text-justify:auto; color:#0e0a0a">
                    Online Books Shop was established in 2019 and thus has been in operation for over 1 years.
                    Today, it enjoys the status of being one of Pakistan’s leading publishers and booksellers.
                    We serve not only as distributors for some of the world’s biggest publishers like Ladybird, UK;
                    Hodder Education, UK; Cambridge University Press, UK; MM Publication, Greece; and Marshall
                    Cavendish, Singapore, but also publish our own books of international standards ranging
                    in subjects from Pre-Primary, Primary, Secondary to Academics, Medical Sciences and topics
                    of General Interest.
                </p>
                <br />

                <img src="~/Content/images/About2.jpg" style="height:400px;width:600px;" />

            </div>




        </div>
    </div>
</section>
