﻿
#mainnav > ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#mainnav ul li {
    position: relative;
}

#mainnav > ul > li {
    display: inline-block;
}

    #mainnav > ul >li > a {
	font-weight: 500;
	color:  #fff;
	font-size: 15px;
	line-height: 88px;
	margin:  0px 16.8px;
	display: block;
}

    #mainnav > ul > li.active > a,
    #mainnav > ul > li > a:hover {
        color: #02332e;
    }




/* Menu extra */
.menu-extra {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    display: none;
}

.has-menu-extra .menu-extra {
    display: block;
}

.menu-extra .box-search .icon_search:before,
.menu-extra .box-login .icon_login:before,
.menu-extra .box-cart .icon_cart:before {
    content: "";
    font-family: "FontAwesome";
}

.menu-extra .box-search .icon_search:before {
    content: "\f002";
}

.menu-extra .box-login .icon_login:before {
    content: "\f007";
}

.menu-extra .box-cart .icon_cart:before {
    content: "\f07a";
}

.menu-extra > li {
    display: inline-block;
    line-height: 88px;
    position: relative;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.menu-extra li a {
    margin: 0px 2.5px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    font-size: 15px;
    color: #333333;
    display: inline-block;
    position: relative;
    background: transparent;
}

    .menu-extra li a span {
        width: 15px;
        height: 15px;
        font-size: 10px;
        line-height: 15px;
        color: #ffffff;
        font-weight: 400;
        position: absolute;
        top: 0px;
        right: -3px;
        background-color: #f63440;
        text-align: center;
        border-radius: 50%;
        display: inline-block;
    }

    .menu-extra li a.active {
        background: #eeeeee;
        color: #00535b;
    }

.menu-extra li i {
    background: #eeeeee;
    color: #0a3d2e;
}
.menu-extra li i:hover {
    background: #00535b;
    color: #eeeeee;
}

.menu-extra li a:hover {
    background: #00535b;
    color: #eeeeee;
}
.menu-extra li i:hover {
    background: #00535b;
    color: #eeeeee;
}

.title-section .title {
    font-size: 32px;
    line-height: 66px;
    font-weight: 500;
    color: #00383e;
    position: relative;
    text-shadow: 0 0 3px #39c4c0;
}

.product-content .product .product-item {
    border-right: 1px solid #00535b;
    text-align: center;
    float: left;
    position: relative;
    margin-bottom: 48px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.product.style2 .product-item .new {
    font-size: 14px;
    line-height: 26px;
    width: 65px;
    top: 20px;
    left: 20px;
    background-color: #1b8f9b;
}
.product .product-item .add-to-cart {
    background: #1b8f9b;
    position: absolute;
    top: 100%;
    left: 0px;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-transform: translate(0px, 10px);
    -moz-transform: translate(0px, 10px);
    -ms-transform: translate(0px, 10px);
    -o-transform: translate(0px, 10px);
    transform: translate(0px, 10px);
}
    .product .product-item .add-to-cart:hover {
        background-color: #003a40;
    }

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, caption, canvas, center, cite, code,
dd, del, details, dfn, dialog, div, dl, dt, em, embed, fieldset, figcaption, figure, form, footer, header, hgroup, h1, h2, h3, h4, h5, h6, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, tt, table, tbody, textarea, tfoot, thead, time, tr, th, td, u, ul, var, video {
    font-family: inherit;
    font-size: 100%;
    font-weight: inherit;
    font-style: inherit;
    vertical-align: baseline;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    background: transparent;
    color: #003a40;
}
.loginbody {
    background-color:transparent;
    left: 50%;
    transform: translate(-50%);


}
.logintextbox {
    border:none;
    outline:none;
    width:100%;
    overflow:hidden;
    font-size:16px;
    padding: 8px 0;
    margin: 8px 0;
    border-bottom: 1px solid #1b8f9b;
    background-color:transparent;

}
/*.logintextbox input {
    border: none;
    outline:none;
    border-bottom: 1px solid #1b8f9b;
    background:yellow;

}*/
.Registerbody{

    left:55%;
    transform: translate(-50%);
    background-color:transparent;
   
}
.registertextbox {
    border: none;
    outline: none;
    border-bottom: 1px solid #00535b;
    background-color: transparent;
}
.Useraccountform {
    left: 50%;
    transform: translate(-50%);
    margin-top:20px;
    background-color:transparent;
    
}
.useraccounttextbox {
   
    border:none;
    border-bottom:1px solid #00535b;
    background-color: transparent;
}
.deleteCartProduct {

    background-color: transparent;

}

.deleteCartProduct:hover {
    background-color: #f63440;
  
}







