﻿
@model Book_Shop.Entities.Contact

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">


    <!DOCTYPE html>
    <html>
    <head>
        <title>Client Contact Form Flat Responsive Widget Template :: w3layouts</title>

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="keywords" content="Client Contact Form template Responsive, Login form web template,Flat Pricing tables,Flat Drop downs  Sign up Web Templates, Flat Web Templates, Login sign up Responsive web template, SmartPhone Compatible web template, free web designs for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
        <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
        <!-- Custom Theme files -->
        @*<link href="/clientcontact/css/style.css" rel="stylesheet" type="text/css" media="all" />*@
        <link href="~/Content/css1/style.css" rel="stylesheet" />

        <!-- //Custom Theme files -->
        <!-- web font -->
        <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'><!--web font-->
        <link href="//fonts.googleapis.com/css?family=Amita:400,700" rel="stylesheet">
        <!-- //web font -->
    </head>
    <body>


        <div class="page-title parallax parallax1">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="title-section margin-bottom-52">
                <h2 class="title">
                    CONTACT US
                </h2>
            </div><!-- /.page-title-heading -->
                        <div class="breadcrumbs">
                            <ul>
                                <li><a href="@Url.Action("Index", "Home")">Home</a></li>
                                <li><a href="contact.html">Contact</a></li>
                            </ul>
                        </div><!-- /.breadcrumbs -->
                    </div><!-- /.col-md-12 -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </div><!-- /.page-title -->

        <section class="flat-row flat-iconbox">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="title-section">
                            <h2 class="title">
                                Get In Touch
                            </h2>
                        </div><!-- /.title-section -->
                    </div><!-- /.col-md-12 -->
                </div><!-- /.row -->
                <div class="row">
                    <div class="col-md-4">
                        <div class="iconbox text-center">
                            <div class="box-header nomargin">
                                <div class="icon">
                                     <i class="fa fa-map-marker"></i>
                                </div>
                            </div><!-- /.box-header -->
                            <div class="box-content">
                                <p>Chatta Bahtawar, Islamabad</p>
                            </div><!-- /.box-content -->
                        </div><!-- /.iconbox -->
                    </div><!-- /.col-md-4 -->
                    <div class="col-md-4">
                        <div class="divider h0"></div>
                        <div class="iconbox text-center">
                            <div class="box-header">
                                <div class="icon">       
                                    <i class="fa fa-phone"></i>
                                </div>
                            </div><!-- /.box-header -->
                            <div class="box-content">
                                <p>+92 3341938473 / +92 3171906299</p>
                            </div><!-- /.box-content -->
                        </div><!-- /.iconbox -->
                    </div><!-- /.col-md-4 -->
                    <div class="col-md-4">
                        <div class="divider h0"></div>
                        <div class="iconbox text-center">
                            <div class="box-header">
                                <div class="icon">
                                    <i class="fa fa-envelope"></i>
                                </div>
                            </div><!-- /.box-header -->
                            <div class="box-content">
                                <p>Info@bookshop.com</p>
                            </div><!-- /.box-content -->
                        </div><!-- /.iconbox -->
                    </div><!-- /.col-md-4 -->
                </div><!-- /.row -->
                <div class="divider h43"></div>
                <div class="row">
                    <div class="col-md-12" >
                        @*<div class="flat-map"></div>*@
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3320.9970993562256!2d73.15438931454379!3d33.65723704589099!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38dfea49ba502323%3A0x4cc1def45a08aa35!2sCapital%20View%20Boys%20Hostel!5e0!3m2!1sen!2s!4v1581071537915!5m2!1sen!2s" width="1200" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                    </div><!-- /.col-md-12 -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </section><!-- /.flat-row -->


        <section class="flat-row flat-contact">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="title-section margin_bottom_17">
                            <h2 class="title">
                                Send Us Email
                            </h2>
                        </div><!-- /.title-section -->
                    </div><!-- /.col-md-12 -->
                </div><!-- /.row -->

            <br /><br />
                <div class="row">
                    <div class="wrap-contact style2">

@using (Html.BeginForm("Create", "Contact", FormMethod.Post))
{
    @Html.AntiForgeryToken()
                      
                            <div class="form-text-wrap clearfix">
                                <div class="contact-name">
                                    @Html.TextBoxFor(m => m.FullName, new { @placeholder = "Full name" })
                                    @Html.ValidationMessageFor(m => m.FullName)
                                </div>
                                <div class="contact-subject">
                                    @Html.TextBoxFor(m => m.Email, new { @placeholder = "Email" })
                                    @Html.ValidationMessageFor(m => m.Email)
                                </div>
                                <div class="contact-name">
                                    @Html.TextBoxFor(m => m.PhoneNumber, new { @placeholder = "Mobile Number" })
                                    @Html.ValidationMessageFor(m => m.PhoneNumber)
                                </div>
                               
                            </div>
                            <br /><br />
                            <div class="contact-message clearfix">
                                @Html.TextAreaFor(m => m.Message, new { @placeholder = "Message", @Style= "background-color:white;" })
                                @Html.ValidationMessageFor(m => m.Message)
                            </div>
                            <div class="form-submit">
                                <input type="submit" value="SUBMIT" class="btn">
                            </div>
}
                    </div><!-- /.wrap-contact -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </section><!-- /.flat-row -->



    </body>
</html>
