﻿@*@model Book_Shop.Entities.Contact


@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/css1/style.css" rel="stylesheet" />

<!DOCTYPE html>
<html>
<head>
    <title>Profile Contact Form Flat Responsive Widget Template :: w3layouts</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Profile Contact Form template Responsive, Login form web template,Flat Pricing tables,Flat Drop downs  Sign up Web Templates, Flat Web Templates, Login sign up Responsive web template, SmartPhone Compatible web template, free web designs for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- Custom Theme files -->
    <link href="/profile/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <!-- //Custom Theme files -->
    <!-- web font -->
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href="//fonts.googleapis.com/css?family=Quicksand:300,400,500,700" rel="stylesheet">
    <!-- //web font -->
</head>
<body>
    <!-- main -->
    <div class="main">
        <h1>Profile Contact Form</h1>
        <div class="main-wthree-row">
            <h4><span>Lorem ipsum </span>dolor Sit amet consec tetur adip iscing elit.</h4>
            <div class="agileits-info">
                <div class="agileits-infoleft">

                    <img src="~/Content/images1/img1.jpg" />
                    <div class="agileits-infotext">
                        <h2>Jose Leiter</h2>
                        <h6>Fashion Designer</h6>
                    </div>
                </div>
                <div class="agileits-inforight">
                    <p><img src="~/Content/images1/i1.png" /> +01 11 222 3333</p>
                    <p><img src="~/Content/images1/i2.png" /><a href="mailto:example@mail.com"> mail@example.com</a></p>
                </div>
                <div class="clear"> </div>
            </div>
            <h3>Send a message to me</h3>
            <div class="contact-wthree">
                @using (Html.BeginForm("Profile", "Contact", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <div class="contact-w3left w3-agile">
                        @Html.TextBoxFor(m => m.FullName, new { @placeholder = "Full Name" })
                        @Html.TextBoxFor(m => m.PhoneNumber, new { @placeholder = "Mobile Number", @class = "email" })
                        @Html.TextBoxFor(m => m.Email, new { @placeholder = "Email" })
                    </div>
                    <div class="contact-w3right">
                        @Html.TextAreaFor(m => m.Message, new { @placeholder = "Message" })
                        <input type="submit" value="SUBMIT">
                    </div>
                    <div class="clear"> </div>
                }
            </div>
        </div>
    </div>
    <!-- //main -->
    <!-- copyright -->
    <div class="w3copyright-agile">
        <p>© 2017 Profile Contact Form. All rights reserved | Design by <a href="http://w3layouts.com/" target="_blank">W3layouts</a></p>
    </div>
    <!-- //copyright -->
</body>
</html>*@

